pmoves/docs/context/pmoves_supabase_insert.json
{
  "name": "Supabase Insert (PostgREST)",
  "nodes": [
    {
      "parameters": {
        "mode": "json",
        "json": "{\"supabase_rest_url\": \"https://YOUR-PROJECT.supabase.co/rest/v1\", \"supabase_key\": \"REPLACE_WITH_SUPABASE_SERVICE_ROLE_OR_ANON\"}"
      },
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        100,
        100
      ]
    },
    {
      "parameters": {
        "mode": "json",
        "json": "{\"title\":\"Test row\",\"namespace\":\"default\",\"status\":\"pending\"}"
      },
      "name": "Set Row",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        360,
        100
      ]
    },
    {
      "parameters": {
        "url": "={{$json.supabase_rest_url}}/studio_board",
        "method": "POST",
        "sendBody": true,
        "jsonParameters": true,
        "options": {
          "response": "json"
        },
        "queryParametersUi": {
          "parameter": [
            {
              "name": "select",
              "value": "*"
            }
          ]
        },
        "headerParametersJson": "{\"apikey\":\"{{$json.supabase_key}}\",\"Authorization\":\"Bearer {{$json.supabase_key}}\",\"Content-Profile\":\"public\"}",
        "bodyParametersJson": "={{$json[\"Set Row\"].json}}"
      },
      "name": "Insert Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 5,
      "position": [
        620,
        100
      ]
    }
  ],
  "connections": {
    "Config": {
      "main": [
        [
          {
            "node": "Set Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Row": {
      "main": [
        [
          {
            "node": "Insert Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}