pmoves/docs/context/pmoves_n8n_connectors_bundle.json
{
  "name": "PMOVES Connectors Bundle (Presign, Render, Hi-RAG, LangExtract, Supabase, Discord)",
  "nodes": [
    {
      "parameters": {
        "mode": "json",
        "json": "{\"presign_base\": \"http://localhost:8088\", \"presign_token\": \"REPLACE_WITH_PRESIGN_SHARED_SECRET\", \"webhook_base\": \"http://localhost:8085\", \"webhook_token\": \"REPLACE_WITH_RENDER_WEBHOOK_SHARED_SECRET\", \"hirag_base\": \"http://localhost:8087\", \"langextract_base\": \"http://localhost:8092\", \"supabase_rest_url\": \"https://YOUR-PROJECT.supabase.co/rest/v1\", \"supabase_key\": \"REPLACE_WITH_SUPABASE_SERVICE_ROLE_OR_ANON\", \"discord_webhook_url\": \"https://discord.com/api/webhooks/REPLACE/ME\", \"test_title\": \"n8n \\u00d7 PMOVES test\", \"namespace\": \"default\", \"query\": \"explain the content publishing flow\"}"
      },
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        80,
        100
      ]
    },
    {
      "parameters": {
        "url": "={{$json.presign_base}}/presign/put",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "jsonParameters": true,
        "options": {
          "response": "json"
        },
        "headerParametersJson": "{\"Authorization\":\"Bearer {{$json.presign_token}}\"}",
        "bodyParametersJson": "{\"bucket\":\"assets\",\"key\":\"test/{{ $now }}.txt\",\"content_type\":\"text/plain\",\"expires\":3600}"
      },
      "name": "Presign PUT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 5,
      "position": [
        360,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{$json[\"Presign PUT\"].data.url}}",
        "method": "PUT",
        "sendBody": true,
        "jsonParameters": false,
        "options": {
          "response": "json",
          "ignoreResponseCode": true
        },
        "body": "Hello from n8n x PMOVES!"
      },
      "name": "Upload Object",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 5,
      "position": [
        640,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{$json.presign_base}}/presign/get",
        "method": "POST",
        "sendBody": true,
        "jsonParameters": true,
        "options": {
          "response": "json"
        },
        "headerParametersJson": "{\"Authorization\":\"Bearer {{$json.presign_token}}\"}",
        "bodyParametersJson": "={ { \"bucket\":\"assets\", \"key\": $json[\"Presign PUT\"].json?.key || \"test/{{ $now }}.txt\", \"expires\":3600 } }"
      },
      "name": "Presign GET",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 5,
      "position": [
        900,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{$json[\"Presign GET\"].data.url}}",
        "options": {
          "response": "string"
        }
      },
      "name": "Download Object",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 5,
      "position": [
        1160,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pmoves-comfy-completion",
        "responseMode": "onReceived",
        "options": {
          "responseData": {
            "responseBody": "{\"ok\":true}"
          }
        }
      },
      "name": "Webhook (Receiver)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        360,
        220
      ]
    },
    {
      "parameters": {
        "url": "={{$json.webhook_base}}/comfy/webhook",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "jsonParameters": true,
        "options": {
          "response": "json"
        },
        "headerParametersJson": "{\"Authorization\":\"Bearer {{$json.webhook_token}}\"}",
        "bodyParametersJson": "={ {\"s3_uri\": $json[\"Webhook (Receiver)\"].body?.s3_uri || \"s3://assets/dummy.png\", \"presigned_get\": $json[\"Webhook (Receiver)\"].body?.presigned_get || \"https://example.com/dummy.png\", \"title\": $json.test_title, \"namespace\": $json.namespace, \"author\": \"n8n\"} }"
      },
      "name": "POST Render Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 5,
      "position": [
        640,
        220
      ]
    },
    {
      "parameters": {
        "url": "={{$json.supabase_rest_url}}/studio_board?select=*&order=created_at.desc&limit=1",
        "method": "GET",
        "options": {
          "response": "json"
        },
        "headerParametersJson": "{\"apikey\":\"{{$json.supabase_key}}\",\"Authorization\":\"Bearer {{$json.supabase_key}}\",\"Content-Profile\":\"public\"}"
      },
      "name": "Supabase Check (REST)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 5,
      "position": [
        900,
        220
      ]
    },
    {
      "parameters": {
        "url": "={{$json.discord_webhook_url}}",
        "method": "POST",
        "sendBody": true,
        "jsonParameters": true,
        "options": {
          "response": "json",
          "ignoreResponseCode": true
        },
        "bodyParametersJson": "={ {\"content\": \"\u2705 Render recorded: **\" + ($json[\"Supabase Check (REST)\"].json?.[0]?.title || $json.test_title) + \"** in namespace `\" + $json.namespace + \"`\"} }"
      },
      "name": "Discord Publish (optional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 5,
      "position": [
        1160,
        220
      ]
    },
    {
      "parameters": {
        "mode": "json",
        "json": "{\"query\":\"{{$json.query}}\",\"use_rerank\":true,\"rerank_topn\":50,\"rerank_k\":10}"
      },
      "name": "Prepare Query",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        360,
        420
      ]
    },
    {
      "parameters": {
        "url": "={{$json.hirag_base}}/hirag/query",
        "method": "POST",
        "sendBody": true,
        "jsonParameters": true,
        "options": {
          "response": "json"
        },
        "bodyParametersJson": "={{$json[\"Prepare Query\"].json}}"
      },
      "name": "POST /hirag/query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 5,
      "position": [
        640,
        420
      ]
    },
    {
      "parameters": {
        "url": "={{$json.discord_webhook_url}}",
        "method": "POST",
        "sendBody": true,
        "jsonParameters": true,
        "options": {
          "response": "json",
          "ignoreResponseCode": true
        },
        "bodyParametersJson": "={ {\"content\": \"\ud83d\udd0e Hi-RAG answer: \" + ($json[\"POST /hirag/query\"].json?.answer || 'no answer')} }"
      },
      "name": "Discord Publish Result (optional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 5,
      "position": [
        900,
        420
      ]
    },
    {
      "parameters": {
        "mode": "json",
        "json": "{\"text\":\"Paste text here about your document. It will be chunked.\",\"namespace\":\"docs\",\"doc_id\":\"demo-001\"}"
      },
      "name": "Set Extraction Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        360,
        620
      ]
    },
    {
      "parameters": {
        "url": "={{$json.langextract_base}}/extract/text",
        "method": "POST",
        "sendBody": true,
        "jsonParameters": true,
        "options": {
          "response": "json"
        },
        "bodyParametersJson": "={{$json[\"Set Extraction Payload\"].json}}"
      },
      "name": "POST /extract/text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 5,
      "position": [
        640,
        620
      ]
    },
    {
      "parameters": {
        "mode": "json",
        "json": "{\"title\":\"Test row\",\"namespace\":\"default\",\"status\":\"pending\"}"
      },
      "name": "Set Row",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        360,
        820
      ]
    },
    {
      "parameters": {
        "url": "={{$json.supabase_rest_url}}/studio_board",
        "method": "POST",
        "sendBody": true,
        "jsonParameters": true,
        "options": {
          "response": "json"
        },
        "queryParametersUi": {
          "parameter": [
            {
              "name": "select",
              "value": "*"
            }
          ]
        },
        "headerParametersJson": "{\"apikey\":\"{{$json.supabase_key}}\",\"Authorization\":\"Bearer {{$json.supabase_key}}\",\"Content-Profile\":\"public\"}",
        "bodyParametersJson": "={{$json[\"Set Row\"].json}}"
      },
      "name": "Insert Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 5,
      "position": [
        640,
        820
      ]
    }
  ],
  "connections": {
    "Config": {
      "main": [
        [
          {
            "node": "Presign PUT",
            "type": "main",
            "index": 0
          },
          {
            "node": "Webhook (Receiver)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Query",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Extraction Payload",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Presign PUT": {
      "main": [
        [
          {
            "node": "Upload Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Object": {
      "main": [
        [
          {
            "node": "Presign GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Presign GET": {
      "main": [
        [
          {
            "node": "Download Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (Receiver)": {
      "main": [
        [
          {
            "node": "POST Render Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Render Webhook": {
      "main": [
        [
          {
            "node": "Supabase Check (REST)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Check (REST)": {
      "main": [
        [
          {
            "node": "Discord Publish (optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Query": {
      "main": [
        [
          {
            "node": "POST /hirag/query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /hirag/query": {
      "main": [
        [
          {
            "node": "Discord Publish Result (optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Extraction Payload": {
      "main": [
        [
          {
            "node": "POST /extract/text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Row": {
      "main": [
        [
          {
            "node": "Insert Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "templateCredsSetup": "Open each HTTP Request node \u2192 Authentication \u2192 create credentials (Bearer/API Key) or keep header auth as-is and update the Config node values."
  },
  "pinData": {
    "input": [
      {
        "note": "Edit values in the Config node after import."
      }
    ]
  }
}