pmoves/docs/context/pmoves_hirag_query.json
{
  "name": "PMOVES Hi-RAG Query (+ optional Discord)",
  "nodes": [
    {
      "parameters": {
        "mode": "json",
        "json": "{\"hirag_base\": \"http://localhost:8087\", \"discord_webhook_url\": \"https://discord.com/api/webhooks/REPLACE/ME\", \"query\": \"explain the content publishing flow\"}"
      },
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        100,
        100
      ]
    },
    {
      "parameters": {
        "mode": "json",
        "json": "{\"query\":\"{{$json.query}}\",\"use_rerank\":true,\"rerank_topn\":50,\"rerank_k\":10}"
      },
      "name": "Prepare Query",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        360,
        100
      ]
    },
    {
      "parameters": {
        "url": "={{$json.hirag_base}}/hirag/query",
        "method": "POST",
        "sendBody": true,
        "jsonParameters": true,
        "options": {
          "response": "json"
        },
        "bodyParametersJson": "={{$json[\"Prepare Query\"].json}}"
      },
      "name": "POST /hirag/query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 5,
      "position": [
        620,
        100
      ]
    },
    {
      "parameters": {
        "url": "={{$json.discord_webhook_url}}",
        "method": "POST",
        "sendBody": true,
        "jsonParameters": true,
        "options": {
          "response": "json",
          "ignoreResponseCode": true
        },
        "bodyParametersJson": "={ {\"content\": \"\ud83d\udd0e Hi-RAG answer: \" + ($json[\"POST /hirag/query\"].json?.answer || 'no answer')} }"
      },
      "name": "Discord Publish Result (optional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 5,
      "position": [
        880,
        100
      ]
    }
  ],
  "connections": {
    "Config": {
      "main": [
        [
          {
            "node": "Prepare Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Query": {
      "main": [
        [
          {
            "node": "POST /hirag/query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /hirag/query": {
      "main": [
        [
          {
            "node": "Discord Publish Result (optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}