pmoves/docs/context/pmoves_presign_roundtrip.json
{
  "name": "PMOVES Presign Roundtrip",
  "nodes": [
    {
      "parameters": {
        "mode": "json",
        "json": "{\"presign_base\": \"http://localhost:8088\", \"presign_token\": \"REPLACE_WITH_PRESIGN_SHARED_SECRET\"}"
      },
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        100,
        100
      ]
    },
    {
      "parameters": {
        "url": "={{$json.presign_base}}/presign/put",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "jsonParameters": true,
        "options": {
          "response": "json"
        },
        "headerParametersJson": "{\"Authorization\":\"Bearer {{$json.presign_token}}\"}",
        "bodyParametersJson": "{\"bucket\":\"assets\",\"key\":\"test/{{ $now }}.txt\",\"content_type\":\"text/plain\",\"expires\":3600}"
      },
      "name": "Presign PUT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 5,
      "position": [
        360,
        100
      ]
    },
    {
      "parameters": {
        "url": "={{$json[\"Presign PUT\"].data.url}}",
        "method": "PUT",
        "sendBody": true,
        "jsonParameters": false,
        "options": {
          "response": "json",
          "ignoreResponseCode": true
        },
        "body": "Hello from n8n x PMOVES!"
      },
      "name": "Upload Object",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 5,
      "position": [
        620,
        100
      ]
    },
    {
      "parameters": {
        "url": "={{$json.presign_base}}/presign/get",
        "method": "POST",
        "sendBody": true,
        "jsonParameters": true,
        "options": {
          "response": "json"
        },
        "headerParametersJson": "{\"Authorization\":\"Bearer {{$json.presign_token}}\"}",
        "bodyParametersJson": "={ { \"bucket\":\"assets\", \"key\": $json[\"Presign PUT\"].json?.key || \"test/{{ $now }}.txt\", \"expires\":3600 } }"
      },
      "name": "Presign GET",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 5,
      "position": [
        880,
        100
      ]
    },
    {
      "parameters": {
        "url": "={{$json[\"Presign GET\"].data.url}}",
        "options": {
          "response": "string"
        }
      },
      "name": "Download Object",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 5,
      "position": [
        1140,
        100
      ]
    }
  ],
  "connections": {
    "Config": {
      "main": [
        [
          {
            "node": "Presign PUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Presign PUT": {
      "main": [
        [
          {
            "node": "Upload Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Object": {
      "main": [
        [
          {
            "node": "Presign GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Presign GET": {
      "main": [
        [
          {
            "node": "Download Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}