pmoves/docs/context/pmoves_render_supabase_discord.json
{
  "name": "PMOVES Render \u2192 Supabase \u2192 Discord",
  "nodes": [
    {
      "parameters": {
        "mode": "json",
        "json": "{\"webhook_base\": \"http://localhost:8085\", \"webhook_token\": \"REPLACE_WITH_RENDER_WEBHOOK_SHARED_SECRET\", \"supabase_rest_url\": \"https://YOUR-PROJECT.supabase.co/rest/v1\", \"supabase_key\": \"REPLACE_WITH_SUPABASE_SERVICE_ROLE_OR_ANON\", \"discord_webhook_url\": \"https://discord.com/api/webhooks/REPLACE/ME\", \"test_title\": \"n8n \\u00d7 PMOVES test\", \"namespace\": \"default\"}"
      },
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        100,
        100
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pmoves-comfy-completion",
        "responseMode": "onReceived",
        "options": {
          "responseData": {
            "responseBody": "{\"ok\":true}"
          }
        }
      },
      "name": "Webhook (Receiver)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        360,
        100
      ]
    },
    {
      "parameters": {
        "url": "={{$json.webhook_base}}/comfy/webhook",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "jsonParameters": true,
        "options": {
          "response": "json"
        },
        "headerParametersJson": "{\"Authorization\":\"Bearer {{$json.webhook_token}}\"}",
        "bodyParametersJson": "={ {\"s3_uri\": $json[\"Webhook (Receiver)\"].body?.s3_uri || \"s3://assets/dummy.png\", \"presigned_get\": $json[\"Webhook (Receiver)\"].body?.presigned_get || \"https://example.com/dummy.png\", \"title\": $json.test_title, \"namespace\": $json.namespace, \"author\": \"n8n\"} }"
      },
      "name": "POST Render Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 5,
      "position": [
        620,
        100
      ]
    },
    {
      "parameters": {
        "url": "={{$json.supabase_rest_url}}/studio_board?select=*&order=created_at.desc&limit=1",
        "method": "GET",
        "options": {
          "response": "json"
        },
        "headerParametersJson": "{\"apikey\":\"{{$json.supabase_key}}\",\"Authorization\":\"Bearer {{$json.supabase_key}}\",\"Content-Profile\":\"public\"}"
      },
      "name": "Supabase Check (REST)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 5,
      "position": [
        880,
        100
      ]
    },
    {
      "parameters": {
        "url": "={{$json.discord_webhook_url}}",
        "method": "POST",
        "sendBody": true,
        "jsonParameters": true,
        "options": {
          "response": "json",
          "ignoreResponseCode": true
        },
        "bodyParametersJson": "={ {\"content\": \"\u2705 Render recorded: **\" + ($json[\"Supabase Check (REST)\"].json?.[0]?.title || $json.test_title) + \"** in namespace `\" + $json.namespace + \"`\"} }"
      },
      "name": "Discord Publish (optional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 5,
      "position": [
        1140,
        100
      ]
    }
  ],
  "connections": {
    "Config": {
      "main": [
        [
          {
            "node": "Webhook (Receiver)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (Receiver)": {
      "main": [
        [
          {
            "node": "POST Render Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Render Webhook": {
      "main": [
        [
          {
            "node": "Supabase Check (REST)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Check (REST)": {
      "main": [
        [
          {
            "node": "Discord Publish (optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}