docs/Hostingerapi/COS/[v3.4_COS-3.0] Content Creator Trigger (BM Approved).json
{
    "name": "[v3.4_COS-3.0] Content Creator Trigger (BM Approved)",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2016497,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "v3.2_COS-3.0-Content-Creator-Trigger"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "<script>window.close()</script>",
                "status": "200",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "airtable:makeApiCall",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2096224
            },
            "mapper": {
                "url": "v0/{{1.base_id}}/{{1.table_id}}/{{1.record_id}}",
                "method": "GET",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "BigMoves Connection (User ID: usrdCHJdcPKhGglOp)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "airtable:makeApiCall",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2096224
            },
            "mapper": {
                "url": "v0/{{1.base_id}}/{{1.table_id}}/{{1.record_id}}",
                "body": "{\n  \"fields\": {\n    \"AI Status\": \"AI Writing...\"\n  }\n}",
                "method": "PATCH",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "Update"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "PATCH"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "BigMoves Connection (User ID: usrdCHJdcPKhGglOp)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "Content Name",
                        "value": "{{5.body.fields.`Content Title (ID)`}}"
                    },
                    {
                        "name": "inputBrief",
                        "value": "{{5.body.fields.`packagedTemplatePromptText Rollup (from Prompt Library)`}}"
                    },
                    {
                        "name": "AI Model",
                        "value": "{{5.body.fields.`OpenRouter Code (from AI Models)`[]}}"
                    },
                    {
                        "name": "Content Type",
                        "value": "{{5.body.fields.`Content Type`}}"
                    },
                    {
                        "name": "Content Title",
                        "value": "{{5.body.fields.`Content Title (ID)`}}"
                    },
                    {
                        "name": "Image Size",
                        "value": "{{5.body.fields.`Image Size`}}"
                    },
                    {
                        "name": "Writing Grade",
                        "value": "{{5.body.fields.`Writing Grade Level (from Brand Assets)`[]}}"
                    },
                    {
                        "name": "Excluded Words",
                        "value": "{{5.body.fields.`Excluded Words & Phrases (from Brand Assets)`[]}}"
                    },
                    {
                        "name": "Brand Voice",
                        "value": "{{5.body.fields.`Brand Voice Guidelines (from Brand Assets)`[]}}"
                    },
                    {
                        "name": "Newsletter Type",
                        "value": "{{5.body.fields.`Newsletter Type`}}"
                    },
                    {
                        "name": "Newsletter Angle",
                        "value": "{{5.body.fields.`Newsletter Angle`}}"
                    },
                    {
                        "name": "Newsletter Key Points",
                        "value": "{{5.body.fields.`Newsletter Key Points`}}"
                    },
                    {
                        "name": "Newsletter Image Prompt",
                        "value": "{{5.body.fields.`Newsletter Image Prompt`}}"
                    },
                    {
                        "name": "Newsletter Final Version",
                        "value": "{{5.body.fields.`Newsletter Final Version`}}"
                    },
                    {
                        "name": "Transcript",
                        "value": "{{5.body.fields.`Transcript Or Context (All Workflows)`}}"
                    },
                    {
                        "name": "SEO Keywords",
                        "value": "{{5.body.fields.`SEO Keyword(s)`}}"
                    },
                    {
                        "name": "Brand Asset",
                        "value": "{{5.body.fields.`Brand Assets`[]}}"
                    },
                    {
                        "name": "Blogpost Title",
                        "value": "{{5.body.fields.`Blogpost Title`}}"
                    },
                    {
                        "name": "AI Developer Platform",
                        "value": "{{5.body.fields.`AI Developer Account (from AI Models)`[]}}"
                    },
                    {
                        "name": "OpenAI Model",
                        "value": "{{5.body.fields.`OpenAI Code (from AI Models)`[]}}"
                    },
                    {
                        "name": "AI Temperature",
                        "value": "{{5.body.fields.`Temperature (from AI Models)`[]}}"
                    },
                    {
                        "name": "AI Max Outputs",
                        "value": "{{5.body.fields.`Max Tokens (from AI Models)`[]}}"
                    },
                    {
                        "name": "Anthropic Model",
                        "value": "{{5.body.fields.`Anthropic Code (from AI Models)`[]}}"
                    },
                    {
                        "name": "Blogpost Title",
                        "value": "{{5.body.fields.`Blogpost Title`}}"
                    },
                    {
                        "name": "Blogpost Final Version",
                        "value": "{{5.body.fields.`Blogpost Final Version`}}"
                    },
                    {
                        "name": "YouTube Description",
                        "value": "{{5.body.fields.`YouTube Description`}}"
                    },
                    {
                        "name": "YouTube Title",
                        "value": "{{5.body.fields.`YouTube Title`}}"
                    },
                    {
                        "name": "Output Variations",
                        "value": "{{5.body.fields.`Output Variations`}}"
                    },
                    {
                        "name": "Language",
                        "value": "{{5.body.fields.`Language (from Brand Assets)`[]}}"
                    },
                    {
                        "name": "Customer Avatar",
                        "value": "{{5.body.fields.`Customer Avatar (from Brand Assets)`[]}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "Content Name",
                        "type": "any",
                        "label": "Content Name"
                    },
                    {
                        "name": "inputBrief",
                        "type": "any",
                        "label": "inputBrief"
                    },
                    {
                        "name": "AI Model",
                        "type": "any",
                        "label": "AI Model"
                    },
                    {
                        "name": "Content Type",
                        "type": "any",
                        "label": "Content Type"
                    },
                    {
                        "name": "Content Title",
                        "type": "any",
                        "label": "Content Title"
                    },
                    {
                        "name": "Image Size",
                        "type": "any",
                        "label": "Image Size"
                    },
                    {
                        "name": "Writing Grade",
                        "type": "any",
                        "label": "Writing Grade"
                    },
                    {
                        "name": "Excluded Words",
                        "type": "any",
                        "label": "Excluded Words"
                    },
                    {
                        "name": "Brand Voice",
                        "type": "any",
                        "label": "Brand Voice"
                    },
                    {
                        "name": "Newsletter Type",
                        "type": "any",
                        "label": "Newsletter Type"
                    },
                    {
                        "name": "Newsletter Angle",
                        "type": "any",
                        "label": "Newsletter Angle"
                    },
                    {
                        "name": "Newsletter Key Points",
                        "type": "any",
                        "label": "Newsletter Key Points"
                    },
                    {
                        "name": "Newsletter Image Prompt",
                        "type": "any",
                        "label": "Newsletter Image Prompt"
                    },
                    {
                        "name": "Newsletter Final Version",
                        "type": "any",
                        "label": "Newsletter Final Version"
                    },
                    {
                        "name": "Transcript",
                        "type": "any",
                        "label": "Transcript"
                    },
                    {
                        "name": "SEO Keywords",
                        "type": "any",
                        "label": "SEO Keywords"
                    },
                    {
                        "name": "Brand Asset",
                        "type": "any",
                        "label": "Brand Asset"
                    },
                    {
                        "name": "AI Developer Platform",
                        "type": "any",
                        "label": "AI Developer Platform"
                    },
                    {
                        "name": "OpenAI Model",
                        "type": "any",
                        "label": "OpenAI Model"
                    },
                    {
                        "name": "AI Temperature",
                        "type": "any",
                        "label": "AI Temperature"
                    },
                    {
                        "name": "AI Max Outputs",
                        "type": "any",
                        "label": "AI Max Outputs"
                    },
                    {
                        "name": "Anthropic Model",
                        "type": "any",
                        "label": "Anthropic Model"
                    },
                    {
                        "name": "Blogpost Title",
                        "type": "any",
                        "label": "Blogpost Title"
                    },
                    {
                        "name": "Blogpost Final Version",
                        "type": "any",
                        "label": "Blogpost Final Version"
                    },
                    {
                        "name": "YouTube Description",
                        "type": "any",
                        "label": "YouTube Description"
                    },
                    {
                        "name": "YouTube Title",
                        "type": "any",
                        "label": "YouTube Title"
                    },
                    {
                        "name": "Output Variations",
                        "type": "any",
                        "label": "Output Variations"
                    },
                    {
                        "name": "Language",
                        "type": "any",
                        "label": "Language"
                    },
                    {
                        "name": "Customer Avatar",
                        "type": "any",
                        "label": "Customer Avatar"
                    }
                ]
            }
        },
        {
            "id": 66,
            "module": "open-router:createAChatCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3927944
            },
            "filter": {
                "name": "OpenRouter Filter",
                "conditions": [
                    [
                        {
                            "a": "{{15.`AI Developer Platform`}}",
                            "b": "OpenRouter",
                            "o": "text:contain"
                        }
                    ]
                ]
            },
            "mapper": {
                "n": "1",
                "model": "{{15.`AI Model`}}",
                "top_p": "1",
                "fallback": true,
                "messages": [
                    {
                        "role": "user",
                        "content": "###Context###\nContent Name: {{15.`Content Name`}}.\nContent Type: {{15.`Content Type`}}.\nContent Title: {{15.`Content Title`}}.\nYouTube Title: {{15.`YouTube Title`}}.\nYouTube Description: {{15.`YouTube Description`}}.\nImage Size: {{15.`Image Size`}}.\nNewsletter Type: {{15.`Newsletter Type`}}.\nNewsletter Angle: {{15.`Newsletter Angle`}}.\nNewsletter Key Points: {{15.`Newsletter Key Points`}}.\nNewsletter Image Prompt: {{15.`Newsletter Image Prompt`}}.\nNewsletter Final Version: {{15.`Newsletter Final Version`}}.\nSEO Keywords: {{15.`SEO Keywords`}}.\nBlogpost Title: {{15.`Blogpost Title`}}.\n###Instruction###\nIn the context above, there are some fields that do not have any data. Your task is to remove those fields and keep the fields that have data. "
                    }
                ],
                "json_mode": false,
                "temperature": "1"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0,
                    "name": "Remove Missing Fields Prompt"
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "edit"
                        },
                        "fallback": {
                            "mode": "chose"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "json_mode": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "open-router-4ur2vj"
                            },
                            "label": "BigMoves OpenRouter AI (Feb 4 2025)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:open-router-4ur2vj",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "messages",
                        "spec": [
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Content",
                                "required": true
                            },
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Assistant",
                                        "value": "assistant"
                                    },
                                    {
                                        "label": "System",
                                        "value": "system"
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "fallback",
                        "type": "boolean",
                        "label": "Enable automatic Fallback?"
                    },
                    {
                        "name": "json_mode",
                        "type": "boolean",
                        "label": "Enable JSON Mode?"
                    },
                    {
                        "name": "max_tokens",
                        "type": "integer",
                        "label": "Max Tokens"
                    },
                    {
                        "name": "n",
                        "type": "integer",
                        "label": "Number of Choices",
                        "validate": {
                            "min": 1
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "min": 1
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Stop Sequences"
                    },
                    {
                        "name": "top_k",
                        "type": "number",
                        "label": "Top k"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 6,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{split(15.inputBrief; newline + newline)}}"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 67,
            "module": "open-router:createAChatCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3927944
            },
            "mapper": {
                "n": "1",
                "model": "{{15.`AI Model`}}",
                "top_p": "1",
                "fallback": true,
                "messages": [
                    {
                        "role": "user",
                        "content": "BRAND GUIDELINES:\nBrand Voice: {{15.`Brand Voice`}}.\nExclude These Words: {{15.`Excluded Words`}}.\nCustomer Avatar: {{15.`Customer Avatar`}}.\nWrite at a {{15.`Writing Grade`}} grade level.\nCONTEXT:\nBlogpost: {{15.`Blogpost Final Version`}}.\nTranscript: {{15.Transcript}}.\n\n{{66.choices[].message.content}}\n\nDETAILS OF HOW TO STRUCTURE OUTPUT:\nAI Output: This is where you will add your output. Do not provide any extra context, lines, headings or spaces. \nYou must also append to the end of your output the following on a new line for each:\nPrompt Type: {insert exactly as my input prompt}\nProduct Type: {insert exactly as my input prompt}\nCopy ID: {insert exactly as my input prompt}\n\nPROMPT:\nHere is the prompt to complete: {{6.value}}\n\nCreate {{15.`Output Variations`}} variations in your output.\nYour output must be in {{15.Language}} language."
                    }
                ],
                "json_mode": false,
                "max_tokens": "{{15.`AI Max Outputs`}}",
                "temperature": "{{15.`AI Temperature`}}"
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0,
                    "name": "Content Prompt"
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "edit"
                        },
                        "fallback": {
                            "mode": "chose"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "json_mode": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "open-router-4ur2vj"
                            },
                            "label": "BigMoves OpenRouter AI (Feb 4 2025)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:open-router-4ur2vj",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "messages",
                        "spec": [
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Content",
                                "required": true
                            },
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Assistant",
                                        "value": "assistant"
                                    },
                                    {
                                        "label": "System",
                                        "value": "system"
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "fallback",
                        "type": "boolean",
                        "label": "Enable automatic Fallback?"
                    },
                    {
                        "name": "json_mode",
                        "type": "boolean",
                        "label": "Enable JSON Mode?"
                    },
                    {
                        "name": "max_tokens",
                        "type": "integer",
                        "label": "Max Tokens"
                    },
                    {
                        "name": "n",
                        "type": "integer",
                        "label": "Number of Choices",
                        "validate": {
                            "min": 1
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "min": 1
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Stop Sequences"
                    },
                    {
                        "name": "top_k",
                        "type": "number",
                        "label": "Top k"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 8,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "global": false,
                "pattern": "Prompt Type:\\s*([^\\n]+)",
                "multiline": false,
                "sensitive": false,
                "singleline": false,
                "continueWhenNoRes": true
            },
            "mapper": {
                "text": "{{67.choices[].message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0,
                    "name": "Get Prompt Type"
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "name": "$1",
                        "type": "text",
                        "label": "$1"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "global": false,
                "pattern": "Product Type:\\s*([^\\n]+)",
                "multiline": false,
                "sensitive": false,
                "singleline": false,
                "continueWhenNoRes": true
            },
            "mapper": {
                "text": "{{67.choices[].message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 2700,
                    "y": 0,
                    "name": "Get Product Type"
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "name": "$1",
                        "type": "text",
                        "label": "$1"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "global": false,
                "pattern": "Copy ID:\\s*([^\\n]+)",
                "multiline": false,
                "sensitive": true,
                "singleline": false,
                "continueWhenNoRes": true
            },
            "mapper": {
                "text": "{{67.choices[].message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 3000,
                    "y": 0,
                    "name": "Get Copy ID"
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "name": "$1",
                        "type": "text",
                        "label": "$1"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "json:TransformToJSON",
            "version": 1,
            "parameters": {
                "space": ""
            },
            "mapper": {
                "object": "{{67.choices[].message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 3300,
                    "y": 0,
                    "name": "Prompt Output"
                },
                "restore": {
                    "parameters": {
                        "space": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                            "enum": [
                                "tab",
                                "2",
                                "4"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "object",
                        "type": "any",
                        "label": "Object"
                    }
                ]
            }
        },
        {
            "id": 16,
            "module": "airtable:makeApiCall",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2096224
            },
            "mapper": {
                "url": "v0/{{1.base_id}}/{{1.outputTable_id}}",
                "body": "{\n  \"fields\": {\n    \"Final Content\": {{12.json}},\n    \"Input ID\": \"{{15.`Content Name`}}\",\n    \"Copy ID\": \"{{11.$1}}\",\n    \"Prompt Type\": \"{{trim(8.`$1`)}}\",\n    \"Product Type\": \"{{trim(9.`$1`)}}\",\n    \"Brand Assets\": [\"{{15.`Brand Asset`}}\"],\n    \"Content Status\": \"To-Do\"\n  }\n}",
                "method": "POST",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 3600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "BigMoves Connection (User ID: usrdCHJdcPKhGglOp)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 45,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 6
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 3900,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Iterator [6]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 19,
            "module": "json:TransformToJSON",
            "version": 1,
            "parameters": {
                "space": ""
            },
            "mapper": {
                "object": "{{66.choices[].message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 4200,
                    "y": 0,
                    "name": "Context Output"
                },
                "restore": {
                    "parameters": {
                        "space": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                            "enum": [
                                "tab",
                                "2",
                                "4"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "object",
                        "type": "any",
                        "label": "Object"
                    }
                ]
            }
        },
        {
            "id": 17,
            "module": "airtable:makeApiCall",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2096224
            },
            "mapper": {
                "url": "v0/{{1.base_id}}/{{1.table_id}}/{{1.record_id}}",
                "body": "{\n  \"fields\": {\n    \"AI Status\": \"AI Complete\",\n    \"Content Context (Debugging)\": {{19.json}}\n  }\n}",
                "method": "PATCH",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 4500,
                    "y": 0,
                    "name": "Update"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "PATCH"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "Connection1 (User ID: usrdCHJdcPKhGglOp)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com",
        "notes": []
    }
}