docs/Hostingerapi/COS/[v3.4_COS-3.0] All Social Posts - Schedule Post.json
{
    "name": "[v3.4_COS-3.0] All Social Posts - Schedule Post",
    "flow": [
        {
            "id": 32,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2096224
            },
            "mapper": {
                "base": "appwh5uJllfrjHtgy",
                "view": "viwzOqU68tzQBLbDF",
                "table": "tblq5FCeW7rOmhepe",
                "fields": [
                    "Output ID",
                    "Brand Assets",
                    "About The Brand (from Brand Assets)",
                    "Customer Avatar (from Brand Assets)",
                    "Input ID",
                    "Final Content",
                    "Copy ID",
                    "Prompt Type",
                    "Product Type",
                    "Content Status",
                    "Created",
                    "Email Type",
                    "Headline",
                    "Preview Text",
                    "Publish Date & Time",
                    "Email URL",
                    "List/Segment Inclusion",
                    "List/Segment Exclusion",
                    "Email Setup",
                    "Email 2nd Check",
                    "Email Final Check",
                    "Coupon",
                    "Email Goal",
                    "Open Rate",
                    "Click-Thru Rate",
                    "Content Pillar",
                    "Post Type",
                    "Social Channels",
                    "Instagram Post ID",
                    "IG Post URL",
                    "Facebook Post ID",
                    "Facebook Post URL",
                    "LinkedIn Post ID",
                    "LinkedIn Post URL",
                    "Twitter (X) Post ID",
                    "Twitter (X) Post URL",
                    "TikTok Post ID",
                    "AI Image URL",
                    "Content Image",
                    "Image Prompt",
                    "AI Status",
                    "(Trigger) Create AI Image",
                    "Aspect Ratio - Dall-e",
                    "Aspect Ratio - Ideogram",
                    "Aspect Ratio - FLUX",
                    "Vivid or Natural - Dall-e",
                    "Enhance Prompt",
                    "AI Models",
                    "OpenRouter Code (from AI Models)",
                    "AI Image Models",
                    "AI Model (from AI Image Models)",
                    "AI Developer Account (from AI Image Models)",
                    "Facebook Page URL (from Brand Assets)",
                    "Instagram Page URL (from Brand Assets)",
                    "LinkedIn Page URL (from Brand Assets)",
                    "TikTok Page URL (from Brand Assets)",
                    "Twitter (X) Page URL (from Brand Assets)",
                    "Airtable Base ID (from Brand Assets)",
                    "AI Output Table ID (from Brand Assets)"
                ],
                "maxRecords": "2",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": -207,
                    "y": 1035
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Content Automation OS 3.0 - Template (v3.2)"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose",
                            "label": "Approved Social Posts"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "AI Output (Content)"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "Output ID",
                                "Brand Assets",
                                "About The Brand (from Brand Assets)",
                                "Customer Avatar (from Brand Assets)",
                                "Input ID",
                                "Final Content",
                                "Copy ID",
                                "Prompt Type",
                                "Product Type",
                                "Content Status",
                                "Created",
                                "Email Type",
                                "Headline",
                                "Preview Text",
                                "Publish Date & Time",
                                "Email URL",
                                "List/Segment Inclusion",
                                "List/Segment Exclusion",
                                "Email Setup",
                                "Email 2nd Check",
                                "Email Final Check",
                                "Coupon",
                                "Email Goal",
                                "Open Rate",
                                "Click-Thru Rate",
                                "Content Pillar",
                                "Post Type",
                                "Social Channels",
                                "Instagram Post ID",
                                "IG Post URL",
                                "Facebook Post ID",
                                "Facebook Post URL",
                                "LinkedIn Post ID",
                                "LinkedIn Post URL",
                                "Twitter (X) Post ID",
                                "Twitter (X) Post URL",
                                "TikTok Post ID",
                                "AI Image URL",
                                "Content Image",
                                "Image Prompt",
                                "AI Status",
                                "(Trigger) Create AI Image",
                                "Aspect Ratio - Dall-e",
                                "Aspect Ratio - Ideogram",
                                "Aspect Ratio - FLUX",
                                "Vivid or Natural - Dall-e",
                                "Enhance Prompt",
                                "AI Models",
                                "OpenRouter Code (from AI Models)",
                                "AI Image Models",
                                "AI Model (from AI Image Models)",
                                "AI Developer Account (from AI Image Models)",
                                "Facebook Page URL (from Brand Assets)",
                                "Instagram Page URL (from Brand Assets)",
                                "LinkedIn Page URL (from Brand Assets)",
                                "TikTok Page URL (from Brand Assets)",
                                "Twitter (X) Page URL (from Brand Assets)",
                                "Airtable Base ID (from Brand Assets)",
                                "AI Output Table ID (from Brand Assets)"
                            ]
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "BigMoves Connection (User ID: usrdCHJdcPKhGglOp)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Output ID",
                        "type": "text",
                        "label": "Output ID"
                    },
                    {
                        "name": "Brand Assets",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Brand Assets"
                    },
                    {
                        "name": "About The Brand (from Brand Assets)",
                        "type": "array",
                        "label": "About The Brand (from Brand Assets)"
                    },
                    {
                        "name": "Customer Avatar (from Brand Assets)",
                        "type": "array",
                        "label": "Customer Avatar (from Brand Assets)"
                    },
                    {
                        "name": "Input ID",
                        "type": "text",
                        "label": "Input ID"
                    },
                    {
                        "name": "Final Content",
                        "type": "text",
                        "label": "Final Content"
                    },
                    {
                        "name": "Copy ID",
                        "type": "text",
                        "label": "Copy ID"
                    },
                    {
                        "name": "Prompt Type",
                        "type": "text",
                        "label": "Prompt Type"
                    },
                    {
                        "name": "Product Type",
                        "type": "text",
                        "label": "Product Type"
                    },
                    {
                        "name": "Content Status",
                        "type": "text",
                        "label": "Content Status"
                    },
                    {
                        "name": "Created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "Email Type",
                        "type": "text",
                        "label": "Email Type"
                    },
                    {
                        "name": "Headline",
                        "type": "text",
                        "label": "Headline"
                    },
                    {
                        "name": "Preview Text",
                        "type": "text",
                        "label": "Preview Text"
                    },
                    {
                        "name": "Publish Date & Time",
                        "time": true,
                        "type": "date",
                        "label": "Publish Date & Time"
                    },
                    {
                        "name": "Email URL",
                        "type": "text",
                        "label": "Email URL"
                    },
                    {
                        "name": "List/Segment Inclusion",
                        "type": "text",
                        "label": "List/Segment Inclusion"
                    },
                    {
                        "name": "List/Segment Exclusion",
                        "type": "text",
                        "label": "List/Segment Exclusion"
                    },
                    {
                        "name": "Email Setup",
                        "type": "boolean",
                        "label": "Email Setup"
                    },
                    {
                        "name": "Email 2nd Check",
                        "type": "boolean",
                        "label": "Email 2nd Check"
                    },
                    {
                        "name": "Email Final Check",
                        "type": "boolean",
                        "label": "Email Final Check"
                    },
                    {
                        "name": "Coupon",
                        "type": "text",
                        "label": "Coupon"
                    },
                    {
                        "name": "Email Goal",
                        "type": "text",
                        "label": "Email Goal"
                    },
                    {
                        "name": "Open Rate",
                        "type": "number",
                        "label": "Open Rate"
                    },
                    {
                        "name": "Click-Thru Rate",
                        "type": "number",
                        "label": "Click-Thru Rate"
                    },
                    {
                        "name": "Content Pillar",
                        "type": "text",
                        "label": "Content Pillar"
                    },
                    {
                        "name": "Post Type",
                        "type": "text",
                        "label": "Post Type"
                    },
                    {
                        "name": "Social Channels",
                        "type": "array",
                        "label": "Social Channels",
                        "dynamic": true,
                        "editable": true
                    },
                    {
                        "name": "Instagram Post ID",
                        "type": "text",
                        "label": "Instagram Post ID"
                    },
                    {
                        "name": "IG Post URL",
                        "type": "text",
                        "label": "IG Post URL"
                    },
                    {
                        "name": "Facebook Post ID",
                        "type": "text",
                        "label": "Facebook Post ID"
                    },
                    {
                        "name": "Facebook Post URL",
                        "type": "text",
                        "label": "Facebook Post URL"
                    },
                    {
                        "name": "LinkedIn Post ID",
                        "type": "text",
                        "label": "LinkedIn Post ID"
                    },
                    {
                        "name": "LinkedIn Post URL",
                        "type": "text",
                        "label": "LinkedIn Post URL"
                    },
                    {
                        "name": "Twitter (X) Post ID",
                        "type": "text",
                        "label": "Twitter (X) Post ID"
                    },
                    {
                        "name": "Twitter (X) Post URL",
                        "type": "text",
                        "label": "Twitter (X) Post URL"
                    },
                    {
                        "name": "TikTok Post ID",
                        "type": "text",
                        "label": "TikTok Post ID"
                    },
                    {
                        "name": "AI Image URL",
                        "type": "text",
                        "label": "AI Image URL"
                    },
                    {
                        "name": "Content Image",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Content Image"
                    },
                    {
                        "name": "Image Prompt",
                        "type": "text",
                        "label": "Image Prompt",
                        "multiline": true
                    },
                    {
                        "name": "AI Status",
                        "type": "text",
                        "label": "AI Status"
                    },
                    {
                        "name": "(Trigger) Create AI Image",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "(Trigger) Create AI Image"
                    },
                    {
                        "name": "Aspect Ratio - Dall-e",
                        "type": "text",
                        "label": "Aspect Ratio - Dall-e"
                    },
                    {
                        "name": "Aspect Ratio - Ideogram",
                        "type": "text",
                        "label": "Aspect Ratio - Ideogram"
                    },
                    {
                        "name": "Aspect Ratio - FLUX",
                        "type": "text",
                        "label": "Aspect Ratio - FLUX"
                    },
                    {
                        "name": "Vivid or Natural - Dall-e",
                        "type": "text",
                        "label": "Vivid or Natural - Dall-e"
                    },
                    {
                        "name": "Enhance Prompt",
                        "type": "text",
                        "label": "Enhance Prompt"
                    },
                    {
                        "name": "AI Models",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "AI Models"
                    },
                    {
                        "name": "OpenRouter Code (from AI Models)",
                        "type": "array",
                        "label": "OpenRouter Code (from AI Models)"
                    },
                    {
                        "name": "AI Image Models",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "AI Image Models"
                    },
                    {
                        "name": "AI Model (from AI Image Models)",
                        "type": "array",
                        "label": "AI Model (from AI Image Models)"
                    },
                    {
                        "name": "AI Developer Account (from AI Image Models)",
                        "type": "array",
                        "label": "AI Developer Account (from AI Image Models)"
                    },
                    {
                        "name": "Facebook Page URL (from Brand Assets)",
                        "type": "array",
                        "label": "Facebook Page URL (from Brand Assets)"
                    },
                    {
                        "name": "Instagram Page URL (from Brand Assets)",
                        "type": "array",
                        "label": "Instagram Page URL (from Brand Assets)"
                    },
                    {
                        "name": "LinkedIn Page URL (from Brand Assets)",
                        "type": "array",
                        "label": "LinkedIn Page URL (from Brand Assets)"
                    },
                    {
                        "name": "TikTok Page URL (from Brand Assets)",
                        "type": "array",
                        "label": "TikTok Page URL (from Brand Assets)"
                    },
                    {
                        "name": "Twitter (X) Page URL (from Brand Assets)",
                        "type": "array",
                        "label": "Twitter (X) Page URL (from Brand Assets)"
                    },
                    {
                        "name": "Airtable Base ID (from Brand Assets)",
                        "type": "array",
                        "label": "Airtable Base ID (from Brand Assets)"
                    },
                    {
                        "name": "AI Output Table ID (from Brand Assets)",
                        "type": "array",
                        "label": "AI Output Table ID (from Brand Assets)"
                    }
                ]
            }
        },
        {
            "id": 27,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "Time is now",
                "conditions": [
                    [
                        {
                            "a": "{{32.`Publish Date & Time`}}",
                            "b": "{{now}}",
                            "o": "date:lessorequal"
                        }
                    ]
                ]
            },
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "Social Channel",
                        "value": "{{join(32.`Social Channels`; \",\")}}"
                    },
                    {
                        "name": "Brand Asset",
                        "value": "{{32.`Brand Assets`[]}}"
                    },
                    {
                        "name": "Social Content",
                        "value": "{{32.`Final Content`}}"
                    },
                    {
                        "name": "recordID",
                        "value": "{{32.id}}"
                    },
                    {
                        "name": "Image",
                        "value": "{{32.`Content Image`[].url}}"
                    },
                    {
                        "name": "Base ID",
                        "value": "{{32.`Airtable Base ID (from Brand Assets)`[]}}"
                    },
                    {
                        "name": "Table ID",
                        "value": "{{32.`AI Output Table ID (from Brand Assets)`[]}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 215,
                    "y": 1038
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "Social Channel",
                        "type": "any",
                        "label": "Social Channel"
                    },
                    {
                        "name": "Brand Asset",
                        "type": "any",
                        "label": "Brand Asset"
                    },
                    {
                        "name": "Social Content",
                        "type": "any",
                        "label": "Social Content"
                    },
                    {
                        "name": "recordID",
                        "type": "any",
                        "label": "recordID"
                    },
                    {
                        "name": "Image",
                        "type": "any",
                        "label": "Image"
                    },
                    {
                        "name": "Base ID",
                        "type": "any",
                        "label": "Base ID"
                    },
                    {
                        "name": "Table ID",
                        "type": "any",
                        "label": "Table ID"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 1050
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 28,
                            "module": "facebook-pages:CreatePost",
                            "version": 6,
                            "parameters": {
                                "__IMTCONN__": 2743969
                            },
                            "filter": {
                                "name": "Facebook Text Post",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{27.`Social Channel`}}",
                                            "b": "Facebook Text Post (auto)",
                                            "o": "text:contain:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "message": "{{27.`Social Content`}}",
                                "page_id": "196769440193187"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0,
                                    "name": "Facebook Text Post"
                                },
                                "restore": {
                                    "expect": {
                                        "page_id": {
                                            "mode": "chose",
                                            "label": "Bigmovesio"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "facebook"
                                            },
                                            "label": "Mitch Asser Facebook (Mitch Asser)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:facebook",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "page_id",
                                        "type": "select",
                                        "label": "Page",
                                        "required": true
                                    },
                                    {
                                        "name": "message",
                                        "type": "text",
                                        "label": "Message"
                                    },
                                    {
                                        "name": "link",
                                        "type": "url",
                                        "label": "Link"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Link name"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Link description"
                                    },
                                    {
                                        "name": "date",
                                        "type": "date",
                                        "label": "Date"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 40,
                            "module": "airtable:makeApiCall",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2096224
                            },
                            "mapper": {
                                "url": "v0/{{27.`Base ID`}}/{{27.`Table ID`}}/{{27.recordID}}",
                                "body": "{\n  \"fields\": {\n    \"Content Status\": \"Published\",\n    \"Facebook Post ID\": \"{{28.id}}\"\n  }\n}",
                                "method": "PATCH",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "PATCH"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "Connection1 (User ID: usrdCHJdcPKhGglOp)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 14,
                            "module": "http:ActionGetFile",
                            "version": 3,
                            "parameters": {
                                "handleErrors": false
                            },
                            "filter": {
                                "name": "Facebook Video",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{27.`Social Channel`}}",
                                            "b": "Facebook Video Post (auto)",
                                            "o": "text:contain:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "url": "{{27.Image}}",
                                "method": "get",
                                "serializeUrl": false,
                                "shareCookies": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 600
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "hidden",
                                        "label": "Method"
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 15,
                            "module": "facebook-pages:UploadVideo",
                            "version": 6,
                            "parameters": {
                                "__IMTCONN__": 2743969
                            },
                            "mapper": {
                                "data": "{{14.data}}",
                                "type": "data",
                                "page_id": "196769440193187",
                                "fileName": "{{14.fileName}}",
                                "description": "{{27.`Social Content`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 600,
                                    "name": "FB Video"
                                },
                                "restore": {
                                    "expect": {
                                        "type": {
                                            "mode": "chose",
                                            "label": "upload a video"
                                        },
                                        "page_id": {
                                            "mode": "chose",
                                            "label": "Bigmovesio"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "facebook"
                                            },
                                            "label": "Mitch Asser Facebook (Mitch Asser)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:facebook",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "page_id",
                                        "type": "select",
                                        "label": "Page",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "data",
                                                "url"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "fileName",
                                        "type": "filename",
                                        "label": "File name",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 42,
                            "module": "airtable:makeApiCall",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2096224
                            },
                            "mapper": {
                                "url": "v0/{{27.`Base ID`}}/{{27.`Table ID`}}/{{27.recordID}}",
                                "body": "{\n  \"fields\": {\n    \"Content Status\": \"Published\",\n    \"Facebook Post ID\": \"{{15.id}}\"\n  }\n}",
                                "method": "PATCH",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "PATCH"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "Connection1 (User ID: usrdCHJdcPKhGglOp)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 12,
                            "module": "instagram-business:CreatePostPhoto",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2743969
                            },
                            "filter": {
                                "name": "Instagram Post",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{27.`Social Channel`}}",
                                            "b": "Instagram Post (auto)",
                                            "o": "text:contain:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "caption": "{{27.`Social Content`}}",
                                "accountId": "17841405405736962",
                                "image_url": "{{27.Image}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 900,
                                    "name": "IG Post"
                                },
                                "restore": {
                                    "expect": {
                                        "accountId": {
                                            "mode": "chose",
                                            "label": "Mitch Asser (@mitch.asser)"
                                        },
                                        "user_tags": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "facebook"
                                            },
                                            "label": "Mitch Asser Facebook (Mitch Asser)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:facebook",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "accountId",
                                        "type": "select",
                                        "label": "Page",
                                        "required": true
                                    },
                                    {
                                        "name": "image_url",
                                        "type": "url",
                                        "label": "Photo URL",
                                        "required": true
                                    },
                                    {
                                        "name": "caption",
                                        "type": "text",
                                        "label": "Caption"
                                    },
                                    {
                                        "name": "user_tags",
                                        "spec": [
                                            {
                                                "name": "username",
                                                "type": "text",
                                                "label": "Username",
                                                "required": true,
                                                "validate": {
                                                    "pattern": "^(?!@)"
                                                }
                                            },
                                            {
                                                "name": "x",
                                                "type": "number",
                                                "label": "X position",
                                                "required": true,
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            },
                                            {
                                                "name": "y",
                                                "type": "number",
                                                "label": "Y position",
                                                "required": true,
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "User Tags"
                                    },
                                    {
                                        "name": "location_id",
                                        "type": "text",
                                        "label": "Location ID"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 43,
                            "module": "airtable:makeApiCall",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2096224
                            },
                            "mapper": {
                                "url": "v0/{{27.`Base ID`}}/{{27.`Table ID`}}/{{27.recordID}}",
                                "body": "{\n  \"fields\": {\n    \"Content Status\": \"Published\",\n    \"Instagram Post ID\": \"{{12.id}}\"\n  }\n}",
                                "method": "PATCH",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 900
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "PATCH"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "Connection1 (User ID: usrdCHJdcPKhGglOp)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 24,
                            "module": "instagram-business:CreateAReelPost",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2743969
                            },
                            "filter": {
                                "name": "Instagram Reel",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{27.`Social Channel`}}",
                                            "b": "Instagram Reels (auto)",
                                            "o": "text:contain:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "caption": "{{27.`Social Content`}}",
                                "accountId": "17841405405736962",
                                "video_url": "{{27.Image}}",
                                "share_to_feed": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 1200,
                                    "name": "IG Reel"
                                },
                                "restore": {
                                    "expect": {
                                        "accountId": {
                                            "mode": "chose",
                                            "label": "Mitch Asser (@mitch.asser)"
                                        },
                                        "share_to_feed": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "facebook"
                                            },
                                            "label": "Mitch Asser Facebook (Mitch Asser)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:facebook",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "accountId",
                                        "type": "select",
                                        "label": "Page",
                                        "required": true
                                    },
                                    {
                                        "name": "video_url",
                                        "type": "url",
                                        "label": "Video URL",
                                        "required": true
                                    },
                                    {
                                        "name": "caption",
                                        "type": "text",
                                        "label": "Caption"
                                    },
                                    {
                                        "name": "thumb_offset",
                                        "type": "number",
                                        "label": "Cover Frame"
                                    },
                                    {
                                        "name": "location_id",
                                        "type": "text",
                                        "label": "Location ID"
                                    },
                                    {
                                        "name": "share_to_feed",
                                        "type": "boolean",
                                        "label": "Share to Feed",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 44,
                            "module": "airtable:makeApiCall",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2096224
                            },
                            "mapper": {
                                "url": "v0/{{27.`Base ID`}}/{{27.`Table ID`}}/{{27.recordID}}",
                                "body": "{\n  \"fields\": {\n    \"Content Status\": \"Published\",\n    \"Instagram Post ID\": \"{{24.id}}\"\n  }\n}",
                                "method": "PATCH",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 1200
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "PATCH"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "Connection1 (User ID: usrdCHJdcPKhGglOp)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 18,
                            "module": "http:ActionGetFile",
                            "version": 3,
                            "parameters": {
                                "handleErrors": false
                            },
                            "filter": {
                                "name": "LinkedIn Post",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{27.`Social Channel`}}",
                                            "b": "LinkedIn Post (auto)",
                                            "o": "text:contain:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "url": "{{27.Image}}",
                                "method": "get",
                                "serializeUrl": false,
                                "shareCookies": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 1500
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "hidden",
                                        "label": "Method"
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 17,
                            "module": "linkedin:ShareImage",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 2744127
                            },
                            "mapper": {
                                "data": "{{18.data}}",
                                "content": "{{27.`Social Content`}}",
                                "fileName": "{{18.fileName}}",
                                "visibility": "PUBLIC",
                                "feedDistribution": "MAIN_FEED",
                                "isReshareDisabledByAuthor": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 1500,
                                    "name": "LinkedIn Image Post"
                                },
                                "restore": {
                                    "expect": {
                                        "visibility": {
                                            "mode": "chose",
                                            "label": "Public"
                                        },
                                        "feedDistribution": {
                                            "mode": "chose",
                                            "label": "Main feed"
                                        },
                                        "isReshareDisabledByAuthor": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "linkedin2"
                                            },
                                            "label": "Mitch Asser LinkedIn (Mitch Asser)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:linkedin2,linkedin-openid",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "fileName",
                                        "type": "text",
                                        "label": "File name",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "altText",
                                        "type": "text",
                                        "label": "Alt Text"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content",
                                        "required": true
                                    },
                                    {
                                        "name": "visibility",
                                        "type": "select",
                                        "label": "Visibility",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "PUBLIC",
                                                "CONNECTIONS",
                                                "LOGGED_IN"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "feedDistribution",
                                        "type": "select",
                                        "label": "Feed Distribution",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "MAIN_FEED",
                                                "NONE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "isReshareDisabledByAuthor",
                                        "type": "boolean",
                                        "label": "Is Reshare Disabled",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 45,
                            "module": "airtable:makeApiCall",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2096224
                            },
                            "mapper": {
                                "url": "v0/{{27.`Base ID`}}/{{27.`Table ID`}}/{{27.recordID}}",
                                "body": "{\n  \"fields\": {\n    \"Content Status\": \"Published\",\n    \"LinkedIn Post ID\": \"{{17.id}}\"\n  }\n}",
                                "method": "PATCH",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 1500
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "PATCH"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "Connection1 (User ID: usrdCHJdcPKhGglOp)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 30,
                            "module": "linkedin:CreatePost",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 2744127
                            },
                            "filter": {
                                "name": "LinkedIn Text Post (auto)",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{27.`Social Channel`}}",
                                            "b": "LinkedIn Text Post (auto)",
                                            "o": "text:contain:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "content": "{{27.`Social Content`}}",
                                "visibility": "PUBLIC",
                                "feedDistribution": "MAIN_FEED",
                                "isReshareDisabledByAuthor": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 1800,
                                    "name": "LinkedIn Text Only"
                                },
                                "restore": {
                                    "expect": {
                                        "type": {
                                            "mode": "chose",
                                            "empty": true
                                        },
                                        "mentions": {
                                            "mode": "chose"
                                        },
                                        "visibility": {
                                            "mode": "chose",
                                            "label": "Public"
                                        },
                                        "feedDistribution": {
                                            "mode": "chose",
                                            "label": "Main feed"
                                        },
                                        "isReshareDisabledByAuthor": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "linkedin2"
                                            },
                                            "label": "Mitch Asser LinkedIn (Mitch Asser)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:linkedin2,linkedin-openid",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content",
                                        "required": true
                                    },
                                    {
                                        "name": "mentions",
                                        "spec": [
                                            {
                                                "name": "entity",
                                                "type": "select",
                                                "label": "Entity",
                                                "options": [
                                                    {
                                                        "label": "Person",
                                                        "value": "member",
                                                        "nested": [
                                                            {
                                                                "help": "For example, `urn:li:person:1234`. Only mention someone with a connection to the authenticated user.",
                                                                "name": "urn",
                                                                "type": "text",
                                                                "label": "Entity URN",
                                                                "required": true
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Company",
                                                        "value": "company",
                                                        "nested": [
                                                            {
                                                                "help": "For example, `urn:li:organization:123456`.",
                                                                "name": "urn",
                                                                "type": "text",
                                                                "label": "Entity URN",
                                                                "required": true
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "required": true
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Entity Name",
                                                "required": true
                                            },
                                            {
                                                "name": "start",
                                                "type": "number",
                                                "label": "Start",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Mentions"
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Media Type",
                                        "validate": {
                                            "enum": [
                                                "ARTICLE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "visibility",
                                        "type": "select",
                                        "label": "Visibility",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "PUBLIC",
                                                "CONNECTIONS",
                                                "LOGGED_IN"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "feedDistribution",
                                        "type": "select",
                                        "label": "Feed Distribution",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "MAIN_FEED",
                                                "NONE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "isReshareDisabledByAuthor",
                                        "type": "boolean",
                                        "label": "Is Reshare Disabled",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 46,
                            "module": "airtable:makeApiCall",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2096224
                            },
                            "mapper": {
                                "url": "v0/{{27.`Base ID`}}/{{27.`Table ID`}}/{{27.recordID}}",
                                "body": "{\n  \"fields\": {\n    \"Content Status\": \"Published\",\n    \"LinkedIn Post ID\": \"{{30.id}}\"\n  }\n}",
                                "method": "PATCH",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 1800
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "PATCH"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "Connection1 (User ID: usrdCHJdcPKhGglOp)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 8,
                        "module": "http:ActionGetFile",
                        "version": 3,
                        "parameters": {
                            "handleErrors": false
                        },
                        "filter": {
                            "name": "Facebook Image Post",
                            "conditions": [
                                [
                                    {
                                        "a": "{{27.`Social Channel`}}",
                                        "b": "Facebook Image Post (auto)",
                                        "o": "text:contain"
                                    }
                                ]
                            ]
                        },
                        "mapper": {
                            "url": "{{27.Image}}",
                            "method": "get",
                            "serializeUrl": false,
                            "shareCookies": false
                        },
                        "metadata": {
                            "designer": {
                                "x": 900,
                                "y": 300,
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Tools - Set multiple variables' [27] is not accessible."
                                    },
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    }
                                ]
                            },
                            "restore": {},
                            "parameters": [
                                {
                                    "name": "handleErrors",
                                    "type": "boolean",
                                    "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "url",
                                    "type": "url",
                                    "label": "URL",
                                    "required": true
                                },
                                {
                                    "name": "serializeUrl",
                                    "type": "boolean",
                                    "label": "Serialize URL",
                                    "required": true
                                },
                                {
                                    "name": "method",
                                    "type": "hidden",
                                    "label": "Method"
                                },
                                {
                                    "name": "shareCookies",
                                    "type": "boolean",
                                    "label": "Share cookies with other HTTP modules",
                                    "required": true
                                }
                            ]
                        }
                    },
                    {
                        "id": 9,
                        "module": "facebook-pages:CreatePostWithPhotos",
                        "version": 6,
                        "parameters": {
                            "__IMTCONN__": 2743969
                        },
                        "mapper": {
                            "photos": [
                                {
                                    "data": "{{8.data}}",
                                    "type": "data",
                                    "fileName": "{{8.fileName}}"
                                }
                            ],
                            "message": "{{27.`Social Content`}}",
                            "page_id": "196769440193187"
                        },
                        "metadata": {
                            "designer": {
                                "x": 1200,
                                "y": 300,
                                "name": "FB Image Post",
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Tools - Set multiple variables' [27] is not accessible."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "photos": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "upload a photo"
                                                }
                                            }
                                        ]
                                    },
                                    "page_id": {
                                        "mode": "chose",
                                        "label": "Bigmovesio"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "facebook"
                                        },
                                        "label": "Mitch Asser Facebook (Mitch Asser)"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:facebook",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "page_id",
                                    "type": "select",
                                    "label": "Page",
                                    "required": true
                                },
                                {
                                    "name": "photos",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "select",
                                            "label": "I want to",
                                            "options": [
                                                {
                                                    "label": "upload a photo",
                                                    "value": "data",
                                                    "nested": [
                                                        {
                                                            "name": "fileName",
                                                            "type": "filename",
                                                            "label": "File name",
                                                            "required": true,
                                                            "semantic": "file:name"
                                                        },
                                                        {
                                                            "name": "data",
                                                            "type": "buffer",
                                                            "label": "Data",
                                                            "required": true,
                                                            "semantic": "file:data"
                                                        }
                                                    ],
                                                    "default": true
                                                },
                                                {
                                                    "label": "download photo from URL",
                                                    "value": "url",
                                                    "nested": [
                                                        {
                                                            "name": "url",
                                                            "type": "url",
                                                            "label": "URL",
                                                            "required": true
                                                        }
                                                    ]
                                                }
                                            ],
                                            "required": true
                                        },
                                        {
                                            "name": "caption",
                                            "type": "text",
                                            "label": "Caption"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Photos",
                                    "required": true,
                                    "validate": {
                                        "maxItems": 30,
                                        "minItems": 1
                                    }
                                },
                                {
                                    "name": "message",
                                    "type": "text",
                                    "label": "Message"
                                },
                                {
                                    "name": "date",
                                    "type": "date",
                                    "label": "Date"
                                }
                            ]
                        }
                    },
                    {
                        "id": 41,
                        "module": "airtable:makeApiCall",
                        "version": 3,
                        "parameters": {
                            "__IMTCONN__": 2096224
                        },
                        "mapper": {
                            "url": "v0/{{27.`Base ID`}}/{{27.`Table ID`}}/{{27.recordID}}",
                            "body": "{\n  \"fields\": {\n    \"Content Status\": \"Published\",\n    \"Facebook Post ID\": \"{{9.id}}\"\n  }\n}",
                            "method": "PATCH",
                            "headers": [
                                {
                                    "key": "Content-Type",
                                    "value": "application/json"
                                }
                            ]
                        },
                        "metadata": {
                            "designer": {
                                "x": 1500,
                                "y": 300,
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Tools - Set multiple variables' [27] is not accessible."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "qs": {
                                        "mode": "chose"
                                    },
                                    "method": {
                                        "mode": "chose",
                                        "label": "PATCH"
                                    },
                                    "headers": {
                                        "mode": "chose",
                                        "items": [
                                            null
                                        ]
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "airtable3"
                                        },
                                        "label": "Connection1 (User ID: usrdCHJdcPKhGglOp)"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:airtable3,airtable2",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL",
                                    "required": true
                                },
                                {
                                    "name": "method",
                                    "type": "select",
                                    "label": "Method",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "GET",
                                            "POST",
                                            "PUT",
                                            "PATCH",
                                            "DELETE"
                                        ]
                                    }
                                },
                                {
                                    "name": "headers",
                                    "spec": [
                                        {
                                            "name": "key",
                                            "type": "text",
                                            "label": "Key"
                                        },
                                        {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Headers"
                                },
                                {
                                    "name": "qs",
                                    "spec": [
                                        {
                                            "name": "key",
                                            "type": "text",
                                            "label": "Key"
                                        },
                                        {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Query String"
                                },
                                {
                                    "name": "body",
                                    "type": "any",
                                    "label": "Body"
                                }
                            ]
                        }
                    }
                ],
                [
                    {
                        "id": 21,
                        "module": "twitter:createATweet",
                        "version": 6,
                        "parameters": {
                            "__IMTCONN__": 2744187
                        },
                        "filter": {
                            "name": "Twitter X Post",
                            "conditions": [
                                [
                                    {
                                        "a": "{{27.`Social Channel`}}",
                                        "b": "Twitter X Post (auto)",
                                        "o": "text:contain"
                                    }
                                ]
                            ]
                        },
                        "mapper": {
                            "text": "{{27.`Social Content`}}"
                        },
                        "metadata": {
                            "designer": {
                                "x": 900,
                                "y": 2100,
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Tools - Set multiple variables' [27] is not accessible."
                                    },
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "media_ids": {
                                        "mode": "edit"
                                    },
                                    "for_super_followers_only": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "twitter2"
                                        },
                                        "label": "My X (formerly Twitter) OAuth 2.0 connection (MitchAsser)"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:twitter2",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text Content",
                                    "required": true
                                },
                                {
                                    "mode": "edit",
                                    "name": "media_ids",
                                    "spec": {
                                        "name": "value",
                                        "type": "text"
                                    },
                                    "type": "array",
                                    "label": "Media IDs"
                                },
                                {
                                    "name": "place_id",
                                    "type": "text",
                                    "label": "Place ID"
                                },
                                {
                                    "name": "direct_message_deep_link",
                                    "type": "url",
                                    "label": "Direct Message Link"
                                },
                                {
                                    "name": "for_super_followers_only",
                                    "type": "boolean",
                                    "label": "Allow to Post Exclusively for Super Followers Only"
                                },
                                {
                                    "name": "quote_tweet_id",
                                    "type": "text",
                                    "label": "Quote Post ID"
                                }
                            ]
                        }
                    },
                    {
                        "id": 47,
                        "module": "airtable:makeApiCall",
                        "version": 3,
                        "parameters": {
                            "__IMTCONN__": 2096224
                        },
                        "mapper": {
                            "url": "v0/{{27.`Base ID`}}/{{27.`Table ID`}}/{{27.recordID}}",
                            "body": "{\n  \"fields\": {\n    \"Content Status\": \"Published\",\n    \"Twitter (X) Post ID\": \"{{21.id}}\"\n  }\n}",
                            "method": "PATCH",
                            "headers": [
                                {
                                    "key": "Content-Type",
                                    "value": "application/json"
                                }
                            ]
                        },
                        "metadata": {
                            "designer": {
                                "x": 1200,
                                "y": 2100,
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Tools - Set multiple variables' [27] is not accessible."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "qs": {
                                        "mode": "chose"
                                    },
                                    "method": {
                                        "mode": "chose",
                                        "label": "PATCH"
                                    },
                                    "headers": {
                                        "mode": "chose",
                                        "items": [
                                            null
                                        ]
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "airtable3"
                                        },
                                        "label": "Connection1 (User ID: usrdCHJdcPKhGglOp)"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:airtable3,airtable2",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL",
                                    "required": true
                                },
                                {
                                    "name": "method",
                                    "type": "select",
                                    "label": "Method",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "GET",
                                            "POST",
                                            "PUT",
                                            "PATCH",
                                            "DELETE"
                                        ]
                                    }
                                },
                                {
                                    "name": "headers",
                                    "spec": [
                                        {
                                            "name": "key",
                                            "type": "text",
                                            "label": "Key"
                                        },
                                        {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Headers"
                                },
                                {
                                    "name": "qs",
                                    "spec": [
                                        {
                                            "name": "key",
                                            "type": "text",
                                            "label": "Key"
                                        },
                                        {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Query String"
                                },
                                {
                                    "name": "body",
                                    "type": "any",
                                    "label": "Body"
                                }
                            ]
                        }
                    }
                ],
                [
                    {
                        "id": 52,
                        "module": "http:ActionGetFile",
                        "version": 3,
                        "parameters": {
                            "handleErrors": false
                        },
                        "filter": {
                            "name": "Facebook Image Post",
                            "conditions": [
                                [
                                    {
                                        "a": "{{27.`Social Channel`}}",
                                        "b": "Facebook Image Post (auto)",
                                        "o": "text:contain"
                                    }
                                ]
                            ]
                        },
                        "mapper": {
                            "url": "{{27.Image}}",
                            "method": "get",
                            "serializeUrl": false,
                            "shareCookies": false
                        },
                        "metadata": {
                            "designer": {
                                "x": -70,
                                "y": 2810,
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Tools - Set multiple variables' [27] is not accessible."
                                    },
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    }
                                ]
                            },
                            "restore": {},
                            "parameters": [
                                {
                                    "name": "handleErrors",
                                    "type": "boolean",
                                    "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "url",
                                    "type": "url",
                                    "label": "URL",
                                    "required": true
                                },
                                {
                                    "name": "serializeUrl",
                                    "type": "boolean",
                                    "label": "Serialize URL",
                                    "required": true
                                },
                                {
                                    "name": "method",
                                    "type": "hidden",
                                    "label": "Method"
                                },
                                {
                                    "name": "shareCookies",
                                    "type": "boolean",
                                    "label": "Share cookies with other HTTP modules",
                                    "required": true
                                }
                            ]
                        }
                    },
                    {
                        "id": 53,
                        "module": "facebook-pages:CreatePostWithPhotos",
                        "version": 6,
                        "parameters": {
                            "__IMTCONN__": 2743969
                        },
                        "mapper": {
                            "photos": [
                                {
                                    "data": "{{52.data}}",
                                    "type": "data",
                                    "fileName": "{{52.fileName}}"
                                }
                            ],
                            "message": "{{27.`Social Content`}}",
                            "page_id": "196769440193187"
                        },
                        "metadata": {
                            "designer": {
                                "x": 389,
                                "y": 2851,
                                "name": "FB Image Post",
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Tools - Set multiple variables' [27] is not accessible."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "photos": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "upload a photo"
                                                }
                                            }
                                        ]
                                    },
                                    "page_id": {
                                        "mode": "chose",
                                        "label": "Bigmovesio"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "facebook"
                                        },
                                        "label": "Mitch Asser Facebook (Mitch Asser)"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:facebook",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "page_id",
                                    "type": "select",
                                    "label": "Page",
                                    "required": true
                                },
                                {
                                    "name": "photos",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "select",
                                            "label": "I want to",
                                            "options": [
                                                {
                                                    "label": "upload a photo",
                                                    "value": "data",
                                                    "nested": [
                                                        {
                                                            "name": "fileName",
                                                            "type": "filename",
                                                            "label": "File name",
                                                            "required": true,
                                                            "semantic": "file:name"
                                                        },
                                                        {
                                                            "name": "data",
                                                            "type": "buffer",
                                                            "label": "Data",
                                                            "required": true,
                                                            "semantic": "file:data"
                                                        }
                                                    ],
                                                    "default": true
                                                },
                                                {
                                                    "label": "download photo from URL",
                                                    "value": "url",
                                                    "nested": [
                                                        {
                                                            "name": "url",
                                                            "type": "url",
                                                            "label": "URL",
                                                            "required": true
                                                        }
                                                    ]
                                                }
                                            ],
                                            "required": true
                                        },
                                        {
                                            "name": "caption",
                                            "type": "text",
                                            "label": "Caption"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Photos",
                                    "required": true,
                                    "validate": {
                                        "maxItems": 30,
                                        "minItems": 1
                                    }
                                },
                                {
                                    "name": "message",
                                    "type": "text",
                                    "label": "Message"
                                },
                                {
                                    "name": "date",
                                    "type": "date",
                                    "label": "Date"
                                }
                            ]
                        }
                    },
                    {
                        "id": 58,
                        "module": "instagram-business:CreatePostPhoto",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 2743969
                        },
                        "mapper": {
                            "caption": "{{27.`Social Content`}}",
                            "accountId": "17841405405736962",
                            "image_url": "{{27.Image}}"
                        },
                        "metadata": {
                            "designer": {
                                "x": 851,
                                "y": 2885,
                                "name": "IG Post",
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Tools - Set multiple variables' [27] is not accessible."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "accountId": {
                                        "mode": "chose",
                                        "label": "Mitch Asser (@mitch.asser)"
                                    },
                                    "user_tags": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "facebook"
                                        },
                                        "label": "Mitch Asser Facebook (Mitch Asser)"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:facebook",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "accountId",
                                    "type": "select",
                                    "label": "Page",
                                    "required": true
                                },
                                {
                                    "name": "image_url",
                                    "type": "url",
                                    "label": "Photo URL",
                                    "required": true
                                },
                                {
                                    "name": "caption",
                                    "type": "text",
                                    "label": "Caption"
                                },
                                {
                                    "name": "user_tags",
                                    "spec": [
                                        {
                                            "name": "username",
                                            "type": "text",
                                            "label": "Username",
                                            "required": true,
                                            "validate": {
                                                "pattern": "^(?!@)"
                                            }
                                        },
                                        {
                                            "name": "x",
                                            "type": "number",
                                            "label": "X position",
                                            "required": true,
                                            "validate": {
                                                "max": 1,
                                                "min": 0
                                            }
                                        },
                                        {
                                            "name": "y",
                                            "type": "number",
                                            "label": "Y position",
                                            "required": true,
                                            "validate": {
                                                "max": 1,
                                                "min": 0
                                            }
                                        }
                                    ],
                                    "type": "array",
                                    "label": "User Tags"
                                },
                                {
                                    "name": "location_id",
                                    "type": "text",
                                    "label": "Location ID"
                                }
                            ]
                        }
                    },
                    {
                        "id": 63,
                        "module": "linkedin:ShareImage",
                        "version": 2,
                        "parameters": {
                            "__IMTCONN__": 2744127
                        },
                        "mapper": {
                            "data": "{{52.data}}",
                            "content": "{{27.`Social Content`}}",
                            "fileName": "{{52.fileName}}",
                            "visibility": "PUBLIC",
                            "feedDistribution": "MAIN_FEED",
                            "isReshareDisabledByAuthor": false
                        },
                        "metadata": {
                            "designer": {
                                "x": 1308,
                                "y": 2909,
                                "name": "LinkedIn Image Post",
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Tools - Set multiple variables' [27] is not accessible."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "visibility": {
                                        "mode": "chose",
                                        "label": "Public"
                                    },
                                    "feedDistribution": {
                                        "mode": "chose",
                                        "label": "Main feed"
                                    },
                                    "isReshareDisabledByAuthor": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "linkedin2"
                                        },
                                        "label": "Mitch Asser LinkedIn (Mitch Asser)"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:linkedin2,linkedin-openid",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "fileName",
                                    "type": "text",
                                    "label": "File name",
                                    "required": true
                                },
                                {
                                    "name": "data",
                                    "type": "buffer",
                                    "label": "Data",
                                    "required": true
                                },
                                {
                                    "name": "title",
                                    "type": "text",
                                    "label": "Title"
                                },
                                {
                                    "name": "altText",
                                    "type": "text",
                                    "label": "Alt Text"
                                },
                                {
                                    "name": "content",
                                    "type": "text",
                                    "label": "Content",
                                    "required": true
                                },
                                {
                                    "name": "visibility",
                                    "type": "select",
                                    "label": "Visibility",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "PUBLIC",
                                            "CONNECTIONS",
                                            "LOGGED_IN"
                                        ]
                                    }
                                },
                                {
                                    "name": "feedDistribution",
                                    "type": "select",
                                    "label": "Feed Distribution",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "MAIN_FEED",
                                            "NONE"
                                        ]
                                    }
                                },
                                {
                                    "name": "isReshareDisabledByAuthor",
                                    "type": "boolean",
                                    "label": "Is Reshare Disabled",
                                    "required": true
                                }
                            ]
                        }
                    },
                    {
                        "id": 64,
                        "module": "airtable:makeApiCall",
                        "version": 3,
                        "parameters": {
                            "__IMTCONN__": 2096224
                        },
                        "mapper": {
                            "url": "v0/{{27.`Base ID`}}/{{27.`Table ID`}}/{{27.recordID}}",
                            "body": "{\n  \"fields\": {\n    \"Content Status\": \"Published\",\n    \"LinkedIn Post ID\": \"{{63.id}}\"\n  }\n}",
                            "method": "PATCH",
                            "headers": [
                                {
                                    "key": "Content-Type",
                                    "value": "application/json"
                                }
                            ]
                        },
                        "metadata": {
                            "designer": {
                                "x": 1681,
                                "y": 2925,
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Tools - Set multiple variables' [27] is not accessible."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "qs": {
                                        "mode": "chose"
                                    },
                                    "method": {
                                        "mode": "chose",
                                        "label": "PATCH"
                                    },
                                    "headers": {
                                        "mode": "chose",
                                        "items": [
                                            null
                                        ]
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "airtable3"
                                        },
                                        "label": "Connection1 (User ID: usrdCHJdcPKhGglOp)"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:airtable3,airtable2",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL",
                                    "required": true
                                },
                                {
                                    "name": "method",
                                    "type": "select",
                                    "label": "Method",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "GET",
                                            "POST",
                                            "PUT",
                                            "PATCH",
                                            "DELETE"
                                        ]
                                    }
                                },
                                {
                                    "name": "headers",
                                    "spec": [
                                        {
                                            "name": "key",
                                            "type": "text",
                                            "label": "Key"
                                        },
                                        {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Headers"
                                },
                                {
                                    "name": "qs",
                                    "spec": [
                                        {
                                            "name": "key",
                                            "type": "text",
                                            "label": "Key"
                                        },
                                        {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Query String"
                                },
                                {
                                    "name": "body",
                                    "type": "any",
                                    "label": "Body"
                                }
                            ]
                        }
                    }
                ]
            ],
            "notes": [
                {
                    "id": 59,
                    "text": "",
                    "filter": false
                }
            ]
        },
        "zone": "us1.make.com",
        "notes": []
    }
}