docs/Hostingerapi/COS/[v3.2_COS-3.0] Content Creator _ AI Image Generator.json
{
  "name": "[v3.2_COS-3.0] Content Creator | AI Image Generator",
  "nodes": [
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<script>window.close()</script>",
        "options": {}
      },
      "id": "8a999021-6a60-459a-ab60-caa9703be58d",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        920,
        380
      ]
    },
    {
      "parameters": {
        "url": "=https://api.airtable.com/v0/{{ $('Webhook').item.json.query.base_id }}/{{ $('Webhook').item.json.query.table_id }}/{{ $('Webhook').item.json.query.record_id }}",
        "options": {}
      },
      "id": "b6b82ddd-e1ba-4804-9028-5bcf5c20a2fc",
      "name": "GET Airtable Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        380
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{ $('Webhook').item.json.query.base_id }}/{{ $('Webhook').item.json.query.table_id }}/{{ $('Webhook').item.json.query.record_id }}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"fields\": {\n    \"AI Status\": \"AI Writing...\"\n  }\n}",
        "options": {}
      },
      "id": "3dd9b275-ff4d-4bad-b963-d6cfebb8f6a6",
      "name": "Set Record Status to AI Writing (Airtable)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        380
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "167f3ee1-cb22-4885-81a5-3f08b8405248",
              "name": "SetImagePrompt",
              "value": "=###Context###\nHere are some details on how to write great AI image prompts: \nPart 1: Structuring the Prompt\nA well-structured prompt guides the AI effectively, ensuring all necessary elements are included.\n1.1 Subject\nDefine the Main Focus:\nCharacter: Describe appearance, attire, and emotions.Example: \"A young elven archer with emerald eyes and intricate silver armor.\"\nScene: Outline the setting and key elements.\nExample: \"A bustling cyberpunk cityscape at night with neon signs.\"\nObject: Specify details and significance.\nExample: \"An ancient, weathered compass lying on a map.\"\nTips:Be Specific: Avoid general terms.\nUse Descriptive Language: Employ vivid adjectives and nouns.\n1.2 Style\nDescribe the Artistic Approach:\nPhotorealistic: Focus on lifelike accuracy.Example: \"Rendered in ultra-realistic detail with accurate textures.\"\nStylized: Incorporate artistic influences.\nExample: \"In the style of Japanese anime with bold lines and vibrant colors.\"\nCinematic: Emulate film aesthetics.\nExample: \"Shot with a wide-angle lens, featuring dramatic shadows.\"\nSuggestions:\nReference Artists or Movements: \"In the style of Van Gogh\" or \"inspired by Art Deco.\"\nMention Mediums: \"Watercolor effect\" or \"digital illustration.\"\n1.3 Details\nSpecify Attributes and Characteristics:\nAnatomy/Design: Physical traits or design elements.\nExample: \"Wearing a flowing red cape that billows in the wind.\"\nLighting: Type and direction of light.\nExample: \"Illuminated by a soft, golden sunset.\"\nTextures: Surface qualities.\nExample: \"Featuring a rough, stone-like texture on the dragon's scales.\"\nStrategies:\nUse Sensory Language: Describe how elements might feel or sound.\nIncorporate Metaphors: \"Eyes as deep as the ocean.\"\n1.4 Background/Environment\nSet the Scene:\nEnvironment Description: Landscape, architecture, weather.\nExample: \"A serene Japanese garden during cherry blossom season.\"\nContextual Elements: Objects or characters in the background.\nExample: \"Silhouettes of distant mountains under a starry sky.\"\nApproach:\nCreate Depth: Mention foreground, middle ground, and background elements.\nAtmospheric Conditions: Include weather effects like rain, fog, or snow.2.5 Keywords for Enhancement\nIncorporate Advanced Descriptors:\nLighting Effects:\"Volumetric lighting\" for realistic beams of light.\"Global illumination\" for natural light diffusion.\nCamera Techniques:\"Depth of field\" for focus variation.\"Motion blur\" for dynamic movement.\nVisual Effects:\"Lens flare\" for bright light sources.\"Particle effects\" for dust, sparks, or magic.\nImplementation:\nUse Technical Terms Recognized by FLUX AI:\nEnsure compatibility with the AI's understanding.\nCombine Keywords:\"Ultra-detailed, 8K resolution with cinematic lighting.\"\nPart 2: Enhancing the PromptRefinement transforms a good prompt into an exceptional one, maximizing precision and quality.\n2.1 Adding Precision\nReplace Vague Terms:\nGeneral to Specific: Instead of \"a nice building,\" use \"a Victorian-era mansion with ornate detailing.\"\nQuantify When Possible:\"A crowd of people\" becomes \"a group of five travelers.\"\nEnhancement Techniques:\nUse Strong Adjectives: Opt for words like \"majestic,\" \"dilapidated,\" \"gleaming.\"Avoid Ambiguity: Remove words like \"some,\" \"thing,\" \"stuff.\"\n2.2 Incorporating Advanced KeywordsInclude AI-Recognized Terms:\nResolution and Detail:\"Rendered in 8K with ultra-high-definition textures.\"Lighting and Effects:\"Dynamic shadows and ambient occlusion for depth.\"\nArtistic Enhancements:\"HDR imaging for balanced exposure.\"\nBest Practices:\nStay Relevant: Only use keywords that enhance the intended effect.\nAvoid Overloading: Too many technical terms can confuse the AI.\n2.3 Balancing Creativity and FocusAvoid Conflicting Details:\nSimplify Complex Ideas:\nBreak down multifaceted concepts into clear, concise descriptions.\nMaintain Consistency:Ensure all elements support the same theme and style.\nStrategies:\nPrioritize Key Elements: Focus on the most important aspects.\nLimit Descriptors per Element: Prevent overcomplication.\n2.4 Matching Output Expectations\nAdjust for Complexity:\nFor Intricate Scenes:\nEmphasize primary components to avoid overwhelming the AI.\nFor Multiple Subjects:\nSpecify relationships and interactions clearly.\nTechniques:\nUse Hierarchical Descriptions:\nStart with the main subject, then detail secondary elements.\nSet Boundaries:Indicate the scope, like \"foreground focus on the character, with a blurred background.\"\n\nAbout the brand: \n{{ $('GET Airtable Record').item.json.fields['About The Brand (from Brand Assets)'][0] }}\n\nCustomer avatar: \n{{ $('GET Airtable Record').item.json.fields['Customer Avatar (from Brand Assets)'][0] }}\n\n###Instruction###\nYour task is to use that context and improve this prompt: \n{{ $('GET Airtable Record').item.json.fields['Image Prompt'] }}.\n\n###Example Output###\nYour output must be a maximum of 2-3 sentences. Do not provide any other context besides the prompt exactly how it should be used.",
              "type": "string"
            },
            {
              "id": "f045a2fc-3fc5-4fb6-b1a5-052d86f4cf32",
              "name": "base_id",
              "value": "={{ $('Webhook').item.json.query.base_id }}",
              "type": "string"
            },
            {
              "id": "5ca43b05-002b-407d-9f4c-8e1dec61679a",
              "name": "table_id",
              "value": "={{ $('Webhook').item.json.query.table_id }}",
              "type": "string"
            },
            {
              "id": "1a23949a-dcd9-44fd-8433-26472871e0a7",
              "name": "record_id",
              "value": "={{ $('Webhook').item.json.query.record_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "691d2464-e0de-46f5-ab75-a496be807842",
      "name": "Set Image Prompt and Airtable IDs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1540,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "// This code should be placed in an n8n Function node.\n\n// Process all input items\nconst output = items.map(item => {\n  // Get the SetImagePrompt field from the current item\n  const SetImagePrompt = item.json.SetImagePrompt;\n\n  // Ensure SetImagePrompt exists and is valid\n  if (!SetImagePrompt) {\n    throw new Error(\"SetOutline field is missing or undefined in one of the items.\");\n  }\n\n  // Replace real line breaks with the visible \\n character\n  const formattedOutput = SetImagePrompt\n    .replace(/\\n/g, \"\\\\n\") // Replace real line breaks with visible \\n\n    .replace(/\"/g, '\\\\\"'); // Escape double quotes\n\n  // Return the formatted output for the current item\n  return {\n    json: {\n      ImagePromptOutput: formattedOutput\n    }\n  };\n});\n\n// Return all processed items\nreturn output;\n"
      },
      "id": "8fefb12f-93f9-41d3-9c93-4367258d98a7",
      "name": "Convert SetImagePrompt into JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1720,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "// This code should be placed in an n8n Function node.\n\n// Process all input items\nconst output = items.map(item => {\n  // Access the message content within choices array\n  const messageContent = item.json.choices[0]?.message?.content;\n\n  // Ensure message content exists and is valid\n  if (!messageContent) {\n    throw new Error(\"message.content field is missing or undefined in one of the items.\");\n  }\n\n  // Replace real line breaks with the visible \\n character\n  const formattedOutput = messageContent\n    .replace(/\\n/g, \"\\\\n\") // Replace real line breaks with visible \\n\n    .replace(/\"/g, '\\\\\"'); // Escape double quotes\n\n  // Return the formatted output for the current item\n  return {\n    json: {\n      ImagePromptJson: formattedOutput\n    }\n  };\n});\n\n// Return all processed items\nreturn output;\n"
      },
      "id": "b7398f2d-af2f-4f59-bdf7-d339382ac60d",
      "name": "Convert Image Prompt into JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2100,
        380
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{ $('Set Image Prompt and Airtable IDs').item.json.base_id }}/{{ $('Set Image Prompt and Airtable IDs').item.json.table_id }}/{{ $('Set Image Prompt and Airtable IDs').item.json.record_id }}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"fields\": {\n    \"Image Prompt\": \"{{ $json.ImagePromptJson }}\" \n  }\n}",
        "options": {}
      },
      "id": "c4c70eea-3f6d-4e61-9d0b-0bb911347a69",
      "name": "Update Image Prompt Record (Airtable)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.replicate.com/v1/models/black-forest-labs/{{ $('GET Airtable Record').item.json.fields['AI Model (from AI Image Models)'][0] }}/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"input\":{\n      \"prompt\":\"{{ $('Convert Image Prompt into JSON').item.json.ImagePromptJson }}\",\n      \"num_outputs\":1,\n      \"aspect_ratio\":\"{{ $('GET Airtable Record').item.json.fields['Aspect Ratio - FLUX'] }}\",\n      \"output_format\":\"jpg\",\n      \"output_quality\":90,\n      \"disable_safety_checker\":true\n   }\n}",
        "options": {}
      },
      "id": "49309163-095a-40f5-9998-4977b49fdbd8",
      "name": "Create Image (Flux)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        380
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.urls.get }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "13191067-2714-4fc6-8622-ade0efd677ef",
      "name": "Get Image (Flux)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.cloudinary.com/v1_1/dxodjssrl/image/upload",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $json.output }}"
            },
            {
              "name": "api_key",
              "value": "xxxxxx"
            },
            {
              "name": "upload_preset",
              "value": "ml_default"
            }
          ]
        },
        "options": {}
      },
      "id": "f1877207-ab25-46ed-a435-5af87ecc8f1d",
      "name": "Upload to Cloudinary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3080,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.tinify.com/shrink",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.Authorization }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": {\n    \"url\": \"{{ $('Upload to Cloudinary').item.json.url }}\"\n  }\n} \n\n{{ $json.tinifyAPI }}\n",
        "options": {}
      },
      "id": "74d826f0-3964-4fe7-b48b-778d49a30a1f",
      "name": "Upload to Tinify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3740,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "// Retrieve the Tinify API Key from the input\nconst tinifyAPIKey = $(`Set Tinify API Key`).item.json.tinifyAPI;\n\n// Retrieve base_id, table_id, and record_id\nconst base_id = $(`Set Image Prompt and Airtable IDs`).item.json.base_id;\nconst table_id = $(`Set Image Prompt and Airtable IDs`).item.json.table_id;\nconst record_id = $(`Set Image Prompt and Airtable IDs`).item.json.record_id;\n\n// Ensure the API key is defined\nif (!tinifyAPIKey) {\n  throw new Error('Tinify API Key is missing!');\n}\n\n// Generate the Base64-encoded authorization string\nconst base64EncodedKey = Buffer.from(`api:${tinifyAPIKey}`).toString('base64');\n\n// Ensure base_id, table_id, and record_id are defined\nif (!base_id || !table_id || !record_id) {\n  throw new Error('One or more Airtable IDs are missing (base_id, table_id, or record_id)!');\n}\n\n// Return the Authorization key and Airtable IDs as output\nreturn {\n  Authorization: `Basic ${base64EncodedKey}`,\n  base_id,\n  table_id,\n  record_id,\n};\n"
      },
      "id": "8f7af9fb-a70d-4565-82d8-fcf285de23da",
      "name": "Generate Base64 Key for Tinify API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        380
      ]
    },
    {
      "parameters": {
        "content": "## Refines Image Prompt ",
        "height": 243.17921194887094,
        "width": 945.899258160691
      },
      "id": "1343b562-da2f-443c-8601-f716bae087e8",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1500,
        320
      ]
    },
    {
      "parameters": {
        "content": "## Generates the image ",
        "height": 243.17921194887094,
        "width": 1650.7308574384142,
        "color": 4
      },
      "id": "10511ca4-f05f-4cf8-95db-b37b21a45c89",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2462.0779936847266,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aad68b30-648b-4172-b3e7-4861fd056974",
              "name": "tinifyAPI",
              "value": "xxxxx",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f3973ed3-9f99-4231-9aa4-dc392cb6ec2d",
      "name": "Set Tinify API Key",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3300,
        380
      ]
    },
    {
      "parameters": {
        "path": "ddd7c471-1304-436a-bbca-a7d4f937914b",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "83826da4-cf9d-4323-9c32-1c51e72d21d7",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        720,
        380
      ],
      "webhookId": "ddd7c471-1304-436a-bbca-a7d4f937914b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"n\":\"1\",\n   \"model\":\"{{ $('GET Airtable Record').item.json.fields['AI Model (Plain Text) (from AI Models)'][0] }}\",\n   \"top_p\":1,\n   \"fallback\":true,\n   \"messages\":[\n      {\n         \"role\":\"user\",\n         \"content\":\"{{ $json.ImagePromptOutput }}\"\n      }\n   ],\n   \"json_mode\":true,\n   \"max_tokens\":{{ $('GET Airtable Record').item.json.fields['Max Tokens (from AI Models)'][0] }},\n   \"temperature\":{{ $('GET Airtable Record').item.json.fields['Temperature (from AI Models)'][0] }}\n}",
        "options": {}
      },
      "id": "3529b7a7-f54d-4288-9354-0b04cb458f0d",
      "name": "Set Image Prompt (OpenRouter)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        380
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{ $('Generate Base64 Key for Tinify API').item.json.base_id }}/{{ $('Generate Base64 Key for Tinify API').item.json.table_id }}/{{ $('Generate Base64 Key for Tinify API').item.json.record_id }}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n   \"fields\":{\n      \"AI Status\":\"AI Complete\",\n      \"AI Image URL\":\"{{ $json.output.url }}\",\n      \"Content Image\":[\n         {\n            \"url\":\"{{ $json.output.url }}\"\n         }\n      ]\n   }\n}",
        "options": {}
      },
      "id": "7b9c557a-f534-4f7d-b97e-279740d5ea05",
      "name": "Update Record Status to AI Complete (Airtable)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3960,
        380
      ]
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "296ada5b-7206-430f-b7e9-e2acbc3469c5",
      "name": "Wait 30 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2700,
        380
      ],
      "webhookId": "d2ad86ec-30e3-4a74-a601-fbc05faca311"
    }
  ],
  "pinData": {},
  "connections": {
    "GET Airtable Record": {
      "main": [
        [
          {
            "node": "Set Record Status to AI Writing (Airtable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Record Status to AI Writing (Airtable)": {
      "main": [
        [
          {
            "node": "Set Image Prompt and Airtable IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond 200": {
      "main": [
        [
          {
            "node": "GET Airtable Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image Prompt and Airtable IDs": {
      "main": [
        [
          {
            "node": "Convert SetImagePrompt into JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert SetImagePrompt into JSON": {
      "main": [
        [
          {
            "node": "Set Image Prompt (OpenRouter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Image Prompt into JSON": {
      "main": [
        [
          {
            "node": "Update Image Prompt Record (Airtable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Image Prompt Record (Airtable)": {
      "main": [
        [
          {
            "node": "Create Image (Flux)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Image (Flux)": {
      "main": [
        [
          {
            "node": "Wait 30 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image (Flux)": {
      "main": [
        [
          {
            "node": "Upload to Cloudinary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Cloudinary": {
      "main": [
        [
          {
            "node": "Set Tinify API Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Base64 Key for Tinify API": {
      "main": [
        [
          {
            "node": "Upload to Tinify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Tinify": {
      "main": [
        [
          {
            "node": "Update Record Status to AI Complete (Airtable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Tinify API Key": {
      "main": [
        [
          {
            "node": "Generate Base64 Key for Tinify API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image Prompt (OpenRouter)": {
      "main": [
        [
          {
            "node": "Convert Image Prompt into JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 Seconds": {
      "main": [
        [
          {
            "node": "Get Image (Flux)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "720ad563-2dd4-43ed-b551-62eac58d7715",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fa8972778f1b26c95c2f56e5dcac0460449919a72b08cf533215bb49c07cb34d"
  },
  "id": "vY0myhzSTYi7RYwL",
  "tags": [
    {
      "createdAt": "2024-12-17T22:38:04.164Z",
      "updatedAt": "2024-12-17T22:38:04.164Z",
      "id": "gGvm1CJL8gd1R8EN",
      "name": "OS 3.2"
    },
    {
      "createdAt": "2025-01-07T06:23:59.510Z",
      "updatedAt": "2025-01-07T06:23:59.510Z",
      "id": "mPrqlIkZQr0cgqJa",
      "name": "template"
    }
  ]
}