docs/Hostingerapi/COS/[v3.4_COS-3.0] Content Creator _ AI Image Generator (BM Approved).json
{
    "name": "[v3.4_COS-3.0] Content Creator | AI Image Generator (BM Approved)",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2016763,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 600
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "[v3.2_COS-3.0] AI Output | Image Generator (BM Approved)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "<script>window.close()</script>",
                "status": "200",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 600
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "airtable:makeApiCall",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2096224
            },
            "mapper": {
                "url": "v0/{{1.base_id}}/{{1.table_id}}/{{1.record_id}}",
                "method": "GET",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 600
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "BigMoves Connection (User ID: usrdCHJdcPKhGglOp)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "airtable:makeApiCall",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2096224
            },
            "mapper": {
                "url": "v0/{{1.base_id}}/{{1.table_id}}/{{1.record_id}}",
                "body": "{\n  \"fields\": {\n    \"AI Status\": \"AI Writing...\"\n  }\n}",
                "method": "PATCH",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 600,
                    "name": "Update"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "PATCH"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "BigMoves Connection (User ID: usrdCHJdcPKhGglOp)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "Brand Asset",
                        "value": "{{5.body.fields.`Brand Assets`[]}}"
                    },
                    {
                        "name": "AI image prompt",
                        "value": "{{5.body.fields.`Image Prompt`}}"
                    },
                    {
                        "name": "AI Image Size",
                        "value": "{{5.body.fields.`Aspect Ratio - Dall-e`}}"
                    },
                    {
                        "name": "AI Image Model",
                        "value": "{{5.body.fields.`AI Model (from AI Image Models)`[]}}"
                    },
                    {
                        "name": "AI Image Style",
                        "value": "{{5.body.fields.`Vivid or Natural - Dall-e`}}"
                    },
                    {
                        "name": "Aspect Ratio Ideogram",
                        "value": "{{5.body.fields.`Aspect Ratio - Ideogram`}}"
                    },
                    {
                        "name": "Aspect Ratio Flux",
                        "value": "{{5.body.fields.`Aspect Ratio - FLUX`}}"
                    },
                    {
                        "name": "Enhance Prompt",
                        "value": "{{5.body.fields.`Enhance Prompt`}}"
                    },
                    {
                        "name": "AI Model",
                        "value": "{{5.body.fields.`OpenRouter Code (from AI Models)`[]}}"
                    },
                    {
                        "name": "About The Brand",
                        "value": "{{5.body.fields.`About The Brand (from Brand Assets)`[]}}"
                    },
                    {
                        "name": "Customer Avatar",
                        "value": "{{5.body.fields.`Customer Avatar (from Brand Assets)`[]}}"
                    },
                    {
                        "name": "Developer Account",
                        "value": "{{5.body.fields.`AI Developer Account (from AI Image Models)`[]}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 600
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "Brand Asset",
                        "type": "any",
                        "label": "Brand Asset"
                    },
                    {
                        "name": "AI image prompt",
                        "type": "any",
                        "label": "AI image prompt"
                    },
                    {
                        "name": "AI Image Size",
                        "type": "any",
                        "label": "AI Image Size"
                    },
                    {
                        "name": "AI Image Model",
                        "type": "any",
                        "label": "AI Image Model"
                    },
                    {
                        "name": "AI Image Style",
                        "type": "any",
                        "label": "AI Image Style"
                    },
                    {
                        "name": "Aspect Ratio Ideogram",
                        "type": "any",
                        "label": "Aspect Ratio Ideogram"
                    },
                    {
                        "name": "Aspect Ratio Flux",
                        "type": "any",
                        "label": "Aspect Ratio Flux"
                    },
                    {
                        "name": "Enhance Prompt",
                        "type": "any",
                        "label": "Enhance Prompt"
                    },
                    {
                        "name": "AI Model",
                        "type": "any",
                        "label": "AI Model"
                    },
                    {
                        "name": "About The Brand",
                        "type": "any",
                        "label": "About The Brand"
                    },
                    {
                        "name": "Customer Avatar",
                        "type": "any",
                        "label": "Customer Avatar"
                    },
                    {
                        "name": "Developer Account",
                        "type": "any",
                        "label": "Developer Account"
                    }
                ]
            }
        },
        {
            "id": 25,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 600
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 57,
                            "module": "open-router:createAChatCompletion",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 3927944
                            },
                            "filter": {
                                "name": "Enhance Prompt",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{15.`Enhance Prompt`}}",
                                            "b": "Yes",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "n": "1",
                                "model": "{{15.`AI Model`}}",
                                "top_p": "1",
                                "fallback": true,
                                "messages": [
                                    {
                                        "role": "user",
                                        "content": "###Context###\nHere are some details on how to write great AI image prompts: \nPart 1: Structuring the Prompt\nA well-structured prompt guides the AI effectively, ensuring all necessary elements are included.\n1.1 Subject\nDefine the Main Focus:\nCharacter: Describe appearance, attire, and emotions.Example: \"A young elven archer with emerald eyes and intricate silver armor.\"\nScene: Outline the setting and key elements.\nExample: \"A bustling cyberpunk cityscape at night with neon signs.\"\nObject: Specify details and significance.\nExample: \"An ancient, weathered compass lying on a map.\"\nTips:Be Specific: Avoid general terms.\nUse Descriptive Language: Employ vivid adjectives and nouns.\n1.2 Style\nDescribe the Artistic Approach:\nPhotorealistic: Focus on lifelike accuracy.Example: \"Rendered in ultra-realistic detail with accurate textures.\"\nStylized: Incorporate artistic influences.\nExample: \"In the style of Japanese anime with bold lines and vibrant colors.\"\nCinematic: Emulate film aesthetics.\nExample: \"Shot with a wide-angle lens, featuring dramatic shadows.\"\nSuggestions:\nReference Artists or Movements: \"In the style of Van Gogh\" or \"inspired by Art Deco.\"\nMention Mediums: \"Watercolor effect\" or \"digital illustration.\"\n1.3 Details\nSpecify Attributes and Characteristics:\nAnatomy/Design: Physical traits or design elements.\nExample: \"Wearing a flowing red cape that billows in the wind.\"\nLighting: Type and direction of light.\nExample: \"Illuminated by a soft, golden sunset.\"\nTextures: Surface qualities.\nExample: \"Featuring a rough, stone-like texture on the dragon's scales.\"\nStrategies:\nUse Sensory Language: Describe how elements might feel or sound.\nIncorporate Metaphors: \"Eyes as deep as the ocean.\"\n1.4 Background/Environment\nSet the Scene:\nEnvironment Description: Landscape, architecture, weather.\nExample: \"A serene Japanese garden during cherry blossom season.\"\nContextual Elements: Objects or characters in the background.\nExample: \"Silhouettes of distant mountains under a starry sky.\"\nApproach:\nCreate Depth: Mention foreground, middle ground, and background elements.\nAtmospheric Conditions: Include weather effects like rain, fog, or snow.2.5 Keywords for Enhancement\nIncorporate Advanced Descriptors:\nLighting Effects:\"Volumetric lighting\" for realistic beams of light.\"Global illumination\" for natural light diffusion.\nCamera Techniques:\"Depth of field\" for focus variation.\"Motion blur\" for dynamic movement.\nVisual Effects:\"Lens flare\" for bright light sources.\"Particle effects\" for dust, sparks, or magic.\nImplementation:\nUse Technical Terms Recognized by FLUX AI:\nEnsure compatibility with the AI's understanding.\nCombine Keywords:\"Ultra-detailed, 8K resolution with cinematic lighting.\"\nPart 2: Enhancing the PromptRefinement transforms a good prompt into an exceptional one, maximizing precision and quality.\n2.1 Adding Precision\nReplace Vague Terms:\nGeneral to Specific: Instead of \"a nice building,\" use \"a Victorian-era mansion with ornate detailing.\"\nQuantify When Possible:\"A crowd of people\" becomes \"a group of five travelers.\"\nEnhancement Techniques:\nUse Strong Adjectives: Opt for words like \"majestic,\" \"dilapidated,\" \"gleaming.\"Avoid Ambiguity: Remove words like \"some,\" \"thing,\" \"stuff.\"\n2.2 Incorporating Advanced KeywordsInclude AI-Recognized Terms:\nResolution and Detail:\"Rendered in 8K with ultra-high-definition textures.\"Lighting and Effects:\"Dynamic shadows and ambient occlusion for depth.\"\nArtistic Enhancements:\"HDR imaging for balanced exposure.\"\nBest Practices:\nStay Relevant: Only use keywords that enhance the intended effect.\nAvoid Overloading: Too many technical terms can confuse the AI.\n2.3 Balancing Creativity and FocusAvoid Conflicting Details:\nSimplify Complex Ideas:\nBreak down multifaceted concepts into clear, concise descriptions.\nMaintain Consistency:Ensure all elements support the same theme and style.\nStrategies:\nPrioritize Key Elements: Focus on the most important aspects.\nLimit Descriptors per Element: Prevent overcomplication.\n2.4 Matching Output Expectations\nAdjust for Complexity:\nFor Intricate Scenes:\nEmphasize primary components to avoid overwhelming the AI.\nFor Multiple Subjects:\nSpecify relationships and interactions clearly.\nTechniques:\nUse Hierarchical Descriptions:\nStart with the main subject, then detail secondary elements.\nSet Boundaries:Indicate the scope, like \"foreground focus on the character, with a blurred background.\"\nAbout the brand: \n{{15.`About The Brand`}}\nCustomer avatar: \n{{15.`Customer Avatar`}}\n###Instruction###\nYour task is to use that context and improve this prompt: \n{{15.`AI image prompt`}}.\n###Example Output###\nYour output must be a maximum of 2-3 sentences. Do not provide any other context besides the prompt exactly how it should be used. \n"
                                    }
                                ],
                                "json_mode": false,
                                "temperature": "1"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1898,
                                    "y": 216,
                                    "name": "Enhance Prompt"
                                },
                                "restore": {
                                    "expect": {
                                        "stop": {
                                            "mode": "chose"
                                        },
                                        "model": {
                                            "mode": "edit"
                                        },
                                        "fallback": {
                                            "mode": "chose"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    }
                                                }
                                            ]
                                        },
                                        "json_mode": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "open-router-4ur2vj"
                                            },
                                            "label": "BigMoves OpenRouter AI (Feb 4 2025)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:open-router-4ur2vj",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "messages",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content",
                                                "required": true
                                            },
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": [
                                                    {
                                                        "label": "User",
                                                        "value": "user"
                                                    },
                                                    {
                                                        "label": "Assistant",
                                                        "value": "assistant"
                                                    },
                                                    {
                                                        "label": "System",
                                                        "value": "system"
                                                    }
                                                ],
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "fallback",
                                        "type": "boolean",
                                        "label": "Enable automatic Fallback?"
                                    },
                                    {
                                        "name": "json_mode",
                                        "type": "boolean",
                                        "label": "Enable JSON Mode?"
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "integer",
                                        "label": "Max Tokens"
                                    },
                                    {
                                        "name": "n",
                                        "type": "integer",
                                        "label": "Number of Choices",
                                        "validate": {
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature",
                                        "validate": {
                                            "max": 2,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "frequency_penalty",
                                        "type": "number",
                                        "label": "Frequency Penalty",
                                        "validate": {
                                            "max": 2,
                                            "min": -2
                                        }
                                    },
                                    {
                                        "name": "presence_penalty",
                                        "type": "number",
                                        "label": "Presence Penalty",
                                        "validate": {
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "seed",
                                        "type": "integer",
                                        "label": "Seed"
                                    },
                                    {
                                        "name": "stop",
                                        "spec": {
                                            "name": "value",
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Stop Sequences"
                                    },
                                    {
                                        "name": "top_k",
                                        "type": "number",
                                        "label": "Top k"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 43,
                            "module": "json:TransformToJSON",
                            "version": 1,
                            "parameters": {
                                "space": ""
                            },
                            "mapper": {
                                "object": "{{57.choices[].message.content}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2171,
                                    "y": 228
                                },
                                "restore": {
                                    "parameters": {
                                        "space": {
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "space",
                                        "type": "select",
                                        "label": "Indentation",
                                        "validate": {
                                            "enum": [
                                                "tab",
                                                "2",
                                                "4"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "object",
                                        "type": "any",
                                        "label": "Object"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 42,
                            "module": "airtable:makeApiCall",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2096224
                            },
                            "mapper": {
                                "url": "v0/{{1.base_id}}/{{1.table_id}}/{{1.record_id}}",
                                "body": "{\n  \"fields\": {\n    \"Image Prompt\": {{43.json}}\n  }\n}",
                                "method": "PATCH",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2476,
                                    "y": 228,
                                    "name": "Update"
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "PATCH"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "BigMoves Connection (User ID: usrdCHJdcPKhGglOp)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 55,
                            "module": "util:FunctionSleep",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "duration": "5"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2770,
                                    "y": 224
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "duration",
                                        "type": "uinteger",
                                        "label": "Delay",
                                        "required": true,
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 53,
                            "module": "airtable:makeApiCall",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2096224
                            },
                            "filter": {
                                "name": "Ideogram",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{15.`Developer Account`}}",
                                            "b": "Ideogram",
                                            "o": "text:contain:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "url": "v0/{{1.base_id}}/{{1.table_id}}/{{1.record_id}}",
                                "method": "GET",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1891,
                                    "y": 587
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "GET"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "BigMoves Connection (User ID: usrdCHJdcPKhGglOp)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 29,
                            "module": "json:TransformToJSON",
                            "version": 1,
                            "parameters": {
                                "space": ""
                            },
                            "mapper": {
                                "object": "{{53.body.fields.`Image Prompt`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2168,
                                    "y": 598
                                },
                                "restore": {
                                    "parameters": {
                                        "space": {
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "space",
                                        "type": "select",
                                        "label": "Indentation",
                                        "validate": {
                                            "enum": [
                                                "tab",
                                                "2",
                                                "4"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "object",
                                        "type": "any",
                                        "label": "Object"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 48,
                            "module": "http:ActionSendDataAPIKeyAuth",
                            "version": 3,
                            "parameters": {
                                "auth": 58137,
                                "handleErrors": false
                            },
                            "mapper": {
                                "url": "https://api.replicate.com/v1/models/ideogram-ai/{{15.`AI Image Model`}}/predictions",
                                "serializeUrl": false,
                                "method": "post",
                                "headers": [
                                    {
                                        "name": "Content-Type",
                                        "value": "application/json"
                                    }
                                ],
                                "qs": [],
                                "bodyType": "raw",
                                "parseResponse": true,
                                "timeout": "",
                                "shareCookies": false,
                                "ca": "",
                                "rejectUnauthorized": true,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "gzip": true,
                                "useMtls": false,
                                "contentType": "application/json",
                                "data": "{\n\"input\": {\n\"prompt\": {{29.json}},\n\"num_outputs\": 1,\n\"aspect_ratio\": \"{{15.`Aspect Ratio Ideogram`}}\",\n\"output_format\": \"jpg\",\n\"output_quality\": 90,\n\"disable_safety_checker\": true\n}\n}",
                                "followAllRedirects": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2468,
                                    "y": 598
                                },
                                "restore": {
                                    "parameters": {
                                        "auth": {
                                            "label": "Replicate AI - API Key"
                                        }
                                    },
                                    "expect": {
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "bodyType": {
                                            "label": "Raw"
                                        },
                                        "contentType": {
                                            "label": "JSON (application/json)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "auth",
                                        "type": "keychain:apikeyauth",
                                        "label": "Credentials",
                                        "required": true
                                    },
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "type": "array",
                                        "label": "Headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "label": "Name",
                                                "type": "text",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "label": "Value",
                                                "type": "text"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "qs",
                                        "type": "array",
                                        "label": "Query String",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "label": "Name",
                                                "type": "text",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "label": "Value",
                                                "type": "text"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate"
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content type",
                                        "validate": {
                                            "enum": [
                                                "text/plain",
                                                "application/json",
                                                "application/xml",
                                                "text/xml",
                                                "text/html",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Request content"
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 58,
                            "module": "util:FunctionSleep",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "duration": "30"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2762,
                                    "y": 595
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "duration",
                                        "type": "uinteger",
                                        "label": "Delay",
                                        "validate": {
                                            "min": 1,
                                            "max": 300
                                        },
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 59,
                            "module": "http:ActionSendDataAPIKeyAuth",
                            "version": 3,
                            "parameters": {
                                "auth": 58137,
                                "handleErrors": false
                            },
                            "mapper": {
                                "url": "{{48.data.urls.get}}",
                                "serializeUrl": false,
                                "method": "get",
                                "headers": [],
                                "qs": [],
                                "bodyType": "",
                                "parseResponse": true,
                                "timeout": "",
                                "shareCookies": false,
                                "ca": "",
                                "rejectUnauthorized": true,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "gzip": true,
                                "useMtls": false,
                                "followAllRedirects": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3073,
                                    "y": 604
                                },
                                "restore": {
                                    "parameters": {
                                        "auth": {
                                            "label": "Replicate AI - API Key"
                                        }
                                    },
                                    "expect": {
                                        "method": {
                                            "mode": "chose",
                                            "label": "GET"
                                        },
                                        "headers": {
                                            "mode": "chose"
                                        },
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "bodyType": {
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "auth",
                                        "type": "keychain:apikeyauth",
                                        "label": "Credentials",
                                        "required": true
                                    },
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "type": "array",
                                        "label": "Headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "label": "Name",
                                                "type": "text",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "label": "Value",
                                                "type": "text"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "qs",
                                        "type": "array",
                                        "label": "Query String",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "label": "Name",
                                                "type": "text",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "label": "Value",
                                                "type": "text"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate"
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 30,
                            "module": "cloudinary:UploadResource",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 3690370
                            },
                            "mapper": {
                                "file_type": "url",
                                "resourceType": "image",
                                "type": "upload",
                                "file": "{{59.data.output}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3373,
                                    "y": 598
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "BigMoves Cloudinary (dxodjssrl)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "cloudinary"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "file_type": {
                                            "label": "URL Where The File Stored"
                                        },
                                        "resourceType": {
                                            "mode": "chose",
                                            "label": "image"
                                        },
                                        "upload_preset": {
                                            "mode": "chose"
                                        },
                                        "folder": {
                                            "mode": "chose"
                                        },
                                        "use_filename": {
                                            "mode": "chose"
                                        },
                                        "type": {
                                            "mode": "chose",
                                            "label": "Upload"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:cloudinary",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "file_type",
                                        "type": "select",
                                        "label": "File Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "data",
                                                "url"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "resourceType",
                                        "type": "select",
                                        "label": "Resource Type",
                                        "required": true
                                    },
                                    {
                                        "name": "upload_preset",
                                        "type": "select",
                                        "label": "Upload Preset"
                                    },
                                    {
                                        "name": "public_id",
                                        "type": "text",
                                        "label": "Public ID"
                                    },
                                    {
                                        "name": "folder",
                                        "type": "select",
                                        "label": "Folder"
                                    },
                                    {
                                        "name": "use_filename",
                                        "type": "boolean",
                                        "label": "Use Filename"
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Type",
                                        "validate": {
                                            "enum": [
                                                "private",
                                                "upload",
                                                "authenticated"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "file",
                                        "type": "url",
                                        "label": "File",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 31,
                            "module": "tinify:compressAnImage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 3690377
                            },
                            "mapper": {
                                "imageUrl": "{{30.url}}",
                                "imageSource": "url"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3685,
                                    "y": 594
                                },
                                "restore": {
                                    "expect": {
                                        "imageSource": {
                                            "mode": "chose",
                                            "label": "URL"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "tinify"
                                            },
                                            "label": "BigMoves TinyPNG"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:tinify",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "imageSource",
                                        "type": "select",
                                        "label": "Image source",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "binary",
                                                "url"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "imageUrl",
                                        "type": "text",
                                        "label": "URL of image",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 32,
                            "module": "airtable:makeApiCall",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2096224
                            },
                            "mapper": {
                                "url": "v0/{{1.base_id}}/{{1.table_id}}/{{1.record_id}}",
                                "body": "{\n  \"fields\": {\n    \"AI Status\": \"AI Complete\",\n    \"AI Image URL\": \"{{31.downloadUrl}}\",\n    \"Content Image\": [\n      {\n        \"url\": \"{{31.downloadUrl}}\"\n      }\n    ]\n  }\n}",
                                "method": "PATCH",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3985,
                                    "y": 594,
                                    "name": "Update"
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "PATCH"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "BigMoves Connection (User ID: usrdCHJdcPKhGglOp)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 52,
                            "module": "airtable:makeApiCall",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2096224
                            },
                            "filter": {
                                "name": "Flux Model",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{15.`Developer Account`}}",
                                            "b": "FLUX",
                                            "o": "text:contain:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "url": "v0/{{1.base_id}}/{{1.table_id}}/{{1.record_id}}",
                                "method": "GET",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1884,
                                    "y": 901
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "GET"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "BigMoves Connection (User ID: usrdCHJdcPKhGglOp)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 33,
                            "module": "json:TransformToJSON",
                            "version": 1,
                            "parameters": {
                                "space": ""
                            },
                            "mapper": {
                                "object": "{{52.body.fields.`Image Prompt`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2168,
                                    "y": 898
                                },
                                "restore": {
                                    "parameters": {
                                        "space": {
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "space",
                                        "type": "select",
                                        "label": "Indentation",
                                        "validate": {
                                            "enum": [
                                                "tab",
                                                "2",
                                                "4"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "object",
                                        "type": "any",
                                        "label": "Object"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 50,
                            "module": "http:ActionSendDataAPIKeyAuth",
                            "version": 3,
                            "parameters": {
                                "auth": 58137,
                                "handleErrors": false
                            },
                            "mapper": {
                                "ca": "",
                                "qs": [],
                                "url": "https://api.replicate.com/v1/models/black-forest-labs/{{15.`AI Image Model`}}/predictions",
                                "data": "{\n\"input\": {\n\"prompt\": {{33.json}},\n\"num_outputs\": 1,\n\"aspect_ratio\": \"{{15.`Aspect Ratio Flux`}}\",\n\"output_format\": \"jpg\",\n\"output_quality\": 90,\n\"disable_safety_checker\": true\n}\n}",
                                "gzip": true,
                                "method": "post",
                                "headers": [
                                    {
                                        "name": "Content-Type",
                                        "value": "application/json"
                                    }
                                ],
                                "timeout": "",
                                "useMtls": false,
                                "bodyType": "raw",
                                "contentType": "application/json",
                                "serializeUrl": false,
                                "shareCookies": false,
                                "parseResponse": true,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "followAllRedirects": false,
                                "rejectUnauthorized": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2468,
                                    "y": 898
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bodyType": {
                                            "label": "Raw"
                                        },
                                        "contentType": {
                                            "label": "JSON (application/json)"
                                        }
                                    },
                                    "parameters": {
                                        "auth": {
                                            "label": "Replicate AI - API Key"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "auth",
                                        "type": "keychain:apikeyauth",
                                        "label": "Credentials",
                                        "required": true
                                    },
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate"
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content type",
                                        "validate": {
                                            "enum": [
                                                "text/plain",
                                                "application/json",
                                                "application/xml",
                                                "text/xml",
                                                "text/html",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Request content"
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 35,
                            "module": "util:FunctionSleep",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "duration": "30"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2768,
                                    "y": 898
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "duration",
                                        "type": "uinteger",
                                        "label": "Delay",
                                        "required": true,
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 51,
                            "module": "http:ActionSendDataAPIKeyAuth",
                            "version": 3,
                            "parameters": {
                                "auth": 58137,
                                "handleErrors": false
                            },
                            "mapper": {
                                "ca": "",
                                "qs": [],
                                "url": "{{50.data.urls.get}}",
                                "gzip": true,
                                "method": "get",
                                "headers": [],
                                "timeout": "",
                                "useMtls": false,
                                "bodyType": "",
                                "serializeUrl": false,
                                "shareCookies": false,
                                "parseResponse": true,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "followAllRedirects": false,
                                "rejectUnauthorized": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3068,
                                    "y": 898
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "GET"
                                        },
                                        "headers": {
                                            "mode": "chose"
                                        },
                                        "bodyType": {
                                            "label": "Empty"
                                        }
                                    },
                                    "parameters": {
                                        "auth": {
                                            "label": "Replicate AI - API Key"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "auth",
                                        "type": "keychain:apikeyauth",
                                        "label": "Credentials",
                                        "required": true
                                    },
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate"
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 37,
                            "module": "cloudinary:UploadResource",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 3690370
                            },
                            "mapper": {
                                "file": "{{51.data.output[]}}",
                                "type": "upload",
                                "file_type": "url",
                                "resourceType": "image"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3368,
                                    "y": 898
                                },
                                "restore": {
                                    "expect": {
                                        "type": {
                                            "mode": "chose",
                                            "label": "Upload"
                                        },
                                        "folder": {
                                            "mode": "chose"
                                        },
                                        "file_type": {
                                            "label": "URL Where The File Stored"
                                        },
                                        "resourceType": {
                                            "mode": "chose",
                                            "label": "image"
                                        },
                                        "use_filename": {
                                            "mode": "chose"
                                        },
                                        "upload_preset": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "cloudinary"
                                            },
                                            "label": "BigMoves Cloudinary (dxodjssrl)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:cloudinary",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "file_type",
                                        "type": "select",
                                        "label": "File Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "data",
                                                "url"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "resourceType",
                                        "type": "select",
                                        "label": "Resource Type",
                                        "required": true
                                    },
                                    {
                                        "name": "upload_preset",
                                        "type": "select",
                                        "label": "Upload Preset"
                                    },
                                    {
                                        "name": "public_id",
                                        "type": "text",
                                        "label": "Public ID"
                                    },
                                    {
                                        "name": "folder",
                                        "type": "select",
                                        "label": "Folder"
                                    },
                                    {
                                        "name": "use_filename",
                                        "type": "boolean",
                                        "label": "Use Filename"
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Type",
                                        "validate": {
                                            "enum": [
                                                "private",
                                                "upload",
                                                "authenticated"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "file",
                                        "type": "url",
                                        "label": "File",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 38,
                            "module": "tinify:compressAnImage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 3690377
                            },
                            "mapper": {
                                "imageUrl": "{{37.url}}",
                                "imageSource": "url"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3668,
                                    "y": 898
                                },
                                "restore": {
                                    "expect": {
                                        "imageSource": {
                                            "mode": "chose",
                                            "label": "URL"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "tinify"
                                            },
                                            "label": "BigMoves TinyPNG"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:tinify",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "imageSource",
                                        "type": "select",
                                        "label": "Image source",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "binary",
                                                "url"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "imageUrl",
                                        "type": "text",
                                        "label": "URL of image",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 40,
                            "module": "airtable:makeApiCall",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2096224
                            },
                            "mapper": {
                                "url": "v0/{{1.base_id}}/{{1.table_id}}/{{1.record_id}}",
                                "body": "{\n  \"fields\": {\n    \"AI Status\": \"AI Complete\",\n    \"AI Image URL\": \"{{38.downloadUrl}}\",\n    \"Content Image\": [\n      {\n        \"url\": \"{{38.downloadUrl}}\"\n      }\n    ]\n  }\n}",
                                "method": "PATCH",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3968,
                                    "y": 898
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "PATCH"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "Connection1 (User ID: usrdCHJdcPKhGglOp)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 28,
                    "text": "",
                    "filter": false
                }
            ]
        },
        "zone": "us1.make.com",
        "notes": []
    }
}