docs/Hostingerapi/COS/slack idea bot.json
{
    "name": "Slack Idea Bot",
    "flow": [
        {
            "id": 13,
            "module": "slack:WatchMessages",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 2568258,
                "inputMethod": "list",
                "limit": 1,
                "channel": "C071TK36T8A"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 1,
                    "y": 321
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "MTI Slack (mitch)",
                            "data": {
                                "scoped": "true",
                                "connection": "slack2"
                            }
                        },
                        "inputMethod": {
                            "label": "Select from a list"
                        },
                        "channel": {
                            "label": "ideaschannel"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:slack2",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Input Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "list",
                                "search"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "channel",
                        "type": "select",
                        "label": "Public Channel",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 17,
            "module": "slack:DownloadFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 2568258
            },
            "mapper": {
                "url": "{{13.files[].url_private_download}}"
            },
            "metadata": {
                "designer": {
                    "x": 341,
                    "y": 321
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "MTI Slack (mitch)",
                            "data": {
                                "scoped": "true",
                                "connection": "slack2"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:slack2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "Url private download",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 18,
            "module": "openai-gpt-3:CreateTranscription",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2096185
            },
            "mapper": {
                "fileName": "{{17.fileName}}",
                "fileData": "{{17.data}}",
                "model": "whisper-1",
                "response_format": "text",
                "temperature": "1"
            },
            "metadata": {
                "designer": {
                    "x": 687,
                    "y": 325,
                    "name": "Transcribe audio file"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Main OpenAI",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Whisper-1"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "text"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "fileName",
                        "type": "filename",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "fileData",
                        "type": "buffer",
                        "label": "File Data",
                        "required": true
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Prompt"
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "json",
                                "text",
                                "srt",
                                "verbose_json",
                                "vtt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "language",
                        "type": "text",
                        "label": "Language"
                    }
                ],
                "interface": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2096185
            },
            "mapper": {
                "select": "chat",
                "max_tokens": "1024",
                "temperature": "1",
                "top_p": "1",
                "n_completions": "1",
                "response_format": "text",
                "model": "gpt-4",
                "messages": [
                    {
                        "role": "user",
                        "content": "Your task is to take this idea and build it out to be more comprehensive and ensure all thoughts are clear: {{18.text}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1024,
                    "y": 319,
                    "name": "ideaImprover"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Main OpenAI",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Create a Chat Completion (GPT Models)"
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "stop": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens",
                        "required": true
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "type": "array",
                        "label": "Token Probability",
                        "spec": {
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability",
                            "name": "value"
                        }
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        },
                        "spec": {
                            "type": "text",
                            "label": "Stop Sequence",
                            "name": "value"
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "type": "array",
                        "label": "Other Input Parameters",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter",
                            "name": "value"
                        }
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": {
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "System",
                                            "value": "system"
                                        },
                                        {
                                            "label": "User",
                                            "value": "user"
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant"
                                        }
                                    ],
                                    "required": true
                                },
                                {
                                    "name": "content",
                                    "type": "text",
                                    "label": "Message Content"
                                }
                            ],
                            "type": "collection",
                            "label": "Message",
                            "name": "value"
                        }
                    }
                ]
            }
        },
        {
            "id": 16,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2096224
            },
            "mapper": {
                "base": "appD3qaCtc00veoHs",
                "table": "tbljJIRbTC9TdJyW0",
                "record": {
                    "fldC6k3Nv3uroLiSV": "{{15.choices[].message.content}}"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 1324,
                    "y": 316
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "[CRS] Content Repurposing System"
                        },
                        "table": {
                            "label": "ideasImprover",
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldhypVjR8YudGSwZ",
                                            "spec": {
                                                "label": "Record ID"
                                            },
                                            "type": "array",
                                            "label": "Brand Assets"
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "flduhLi3Qo8Pdefww",
                                            "type": "select",
                                            "label": "contentToCreate",
                                            "dynamic": true,
                                            "options": [
                                                {
                                                    "label": "YouTube Video",
                                                    "value": "YouTube Video"
                                                },
                                                {
                                                    "label": "Newsletter",
                                                    "value": "Newsletter"
                                                },
                                                {
                                                    "label": "Blogpost",
                                                    "value": "Blogpost"
                                                },
                                                {
                                                    "label": "Podcast Episode",
                                                    "value": "Podcast Episode"
                                                }
                                            ],
                                            "validate": false
                                        },
                                        {
                                            "name": "fldC6k3Nv3uroLiSV",
                                            "type": "text",
                                            "label": "yourIdea",
                                            "multiline": true
                                        },
                                        {
                                            "name": "fldzsr0lWhJCIigv0",
                                            "spec": {
                                                "label": "Record ID"
                                            },
                                            "type": "array",
                                            "label": "ideasTemplatePrompts"
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "fldB192yXVnShngcF",
                                            "type": "select",
                                            "label": "AIModel_ideasGenerator",
                                            "dynamic": true,
                                            "options": [
                                                {
                                                    "label": "ChatGPT",
                                                    "value": "ChatGPT"
                                                },
                                                {
                                                    "label": "Claude",
                                                    "value": "Claude"
                                                }
                                            ],
                                            "validate": false
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "fld3Hn79eXpn9nn7s",
                                            "type": "select",
                                            "label": "AIstatusIdeaGenerator",
                                            "dynamic": true,
                                            "options": [
                                                {
                                                    "label": "Pre AI",
                                                    "value": "Pre AI"
                                                },
                                                {
                                                    "label": "AI Writing...",
                                                    "value": "AI Writing..."
                                                },
                                                {
                                                    "label": "AI Complete",
                                                    "value": "AI Complete"
                                                }
                                            ],
                                            "validate": false
                                        },
                                        {
                                            "name": "fldQvxTN6a6Nk3gi7",
                                            "type": "text",
                                            "label": "AI_ideaOutput"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ]
                        },
                        "record": {
                            "nested": {
                                "fld3Hn79eXpn9nn7s": {
                                    "mode": "edit"
                                },
                                "fldB192yXVnShngcF": {
                                    "mode": "edit"
                                },
                                "fldhypVjR8YudGSwZ": {
                                    "mode": "chose"
                                },
                                "flduhLi3Qo8Pdefww": {
                                    "mode": "edit"
                                },
                                "fldzsr0lWhJCIigv0": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "Connection1 (User ID: usrdCHJdcPKhGglOp)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldhypVjR8YudGSwZ",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Brand Assets"
                            },
                            {
                                "mode": "edit",
                                "name": "flduhLi3Qo8Pdefww",
                                "type": "select",
                                "label": "contentToCreate"
                            },
                            {
                                "name": "fldC6k3Nv3uroLiSV",
                                "type": "text",
                                "label": "yourIdea"
                            },
                            {
                                "name": "fldzsr0lWhJCIigv0",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "ideasTemplatePrompts"
                            },
                            {
                                "mode": "edit",
                                "name": "fldB192yXVnShngcF",
                                "type": "select",
                                "label": "AIModel_ideasGenerator"
                            },
                            {
                                "mode": "edit",
                                "name": "fld3Hn79eXpn9nn7s",
                                "type": "select",
                                "label": "AIstatusIdeaGenerator"
                            },
                            {
                                "name": "fldQvxTN6a6Nk3gi7",
                                "type": "text",
                                "label": "AI_ideaOutput"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "IdeasID",
                        "type": "text",
                        "label": "IdeasID"
                    },
                    {
                        "name": "Brand Assets",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Brand Assets"
                    },
                    {
                        "name": "contentToCreate",
                        "type": "text",
                        "label": "contentToCreate"
                    },
                    {
                        "name": "yourIdea",
                        "type": "text",
                        "label": "yourIdea",
                        "multiline": true
                    },
                    {
                        "name": "ideasTemplatePrompts",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "ideasTemplatePrompts"
                    },
                    {
                        "name": "packagedPromptTemplateIdeas (from ideasTemplatePrompts)",
                        "type": "array",
                        "label": "packagedPromptTemplateIdeas (from ideasTemplatePrompts)"
                    },
                    {
                        "name": "AIModel_ideasGenerator",
                        "type": "text",
                        "label": "AIModel_ideasGenerator"
                    },
                    {
                        "name": "AIstatusIdeaGenerator",
                        "type": "text",
                        "label": "AIstatusIdeaGenerator"
                    },
                    {
                        "name": "ideaGeneratorTrigger",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "ideaGeneratorTrigger"
                    },
                    {
                        "name": "AI_ideaOutput",
                        "type": "text",
                        "label": "AI_ideaOutput"
                    },
                    {
                        "name": "brandVoiceGuidelines (from Brand Assets)",
                        "type": "array",
                        "label": "brandVoiceGuidelines (from Brand Assets)"
                    },
                    {
                        "name": "ExcludedWordsPhrases (from Brand Assets)",
                        "type": "array",
                        "label": "ExcludedWordsPhrases (from Brand Assets)"
                    },
                    {
                        "name": "Writing Grade Level (from Brand Assets)",
                        "type": "array",
                        "label": "Writing Grade Level (from Brand Assets)"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 9,
                        "module": "slack:WatchMessages",
                        "version": 4,
                        "parameters": {
                            "__IMTCONN__": 2568258,
                            "inputMethod": "list",
                            "limit": 3,
                            "channel": "C071TK36T8A"
                        },
                        "mapper": {},
                        "metadata": {
                            "designer": {
                                "x": 13,
                                "y": 0,
                                "messages": [
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "A trigger must be the first module in a scenario."
                                    }
                                ]
                            },
                            "restore": {
                                "parameters": {
                                    "__IMTCONN__": {
                                        "label": "MTI Slack (mitch)",
                                        "data": {
                                            "scoped": "true",
                                            "connection": "slack2"
                                        }
                                    },
                                    "inputMethod": {
                                        "label": "Select from a list"
                                    },
                                    "channel": {
                                        "label": "ideaschannel"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:slack2",
                                    "label": "Connection",
                                    "required": true
                                },
                                {
                                    "name": "inputMethod",
                                    "type": "select",
                                    "label": "Input Method",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "list",
                                            "search"
                                        ]
                                    }
                                },
                                {
                                    "name": "limit",
                                    "type": "uinteger",
                                    "label": "Limit",
                                    "required": true
                                },
                                {
                                    "name": "channel",
                                    "type": "select",
                                    "label": "Public Channel",
                                    "required": true
                                }
                            ]
                        }
                    },
                    {
                        "id": 12,
                        "module": "slack:SearchMessages",
                        "version": 4,
                        "parameters": {
                            "__IMTCONN__": 2568258
                        },
                        "mapper": {
                            "query": "{{9.text}}",
                            "limit": "3"
                        },
                        "metadata": {
                            "designer": {
                                "x": 300,
                                "y": 0
                            },
                            "restore": {
                                "parameters": {
                                    "__IMTCONN__": {
                                        "label": "MTI Slack (mitch)",
                                        "data": {
                                            "scoped": "true",
                                            "connection": "slack2"
                                        }
                                    }
                                },
                                "expect": {
                                    "sort": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    },
                                    "sort_dir": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:slack2",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "query",
                                    "type": "text",
                                    "label": "Query",
                                    "required": true
                                },
                                {
                                    "name": "limit",
                                    "type": "uinteger",
                                    "label": "Limit",
                                    "required": true
                                },
                                {
                                    "name": "sort",
                                    "type": "select",
                                    "label": "Sort by",
                                    "validate": {
                                        "enum": [
                                            "score",
                                            "timestamp"
                                        ]
                                    }
                                },
                                {
                                    "name": "sort_dir",
                                    "type": "select",
                                    "label": "Direction",
                                    "validate": {
                                        "enum": [
                                            "asc",
                                            "desc"
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    {
                        "id": 10,
                        "module": "openai-gpt-3:CreateCompletion",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 2096185
                        },
                        "mapper": {
                            "select": "chat",
                            "max_tokens": "1024",
                            "temperature": "1",
                            "top_p": "1",
                            "n_completions": "1",
                            "response_format": "text",
                            "model": "gpt-4",
                            "messages": [
                                {
                                    "role": "user",
                                    "content": "Your task is to take this idea and build it out to be more comprehensive and ensure all thoughts are clear: {{9.text}}"
                                }
                            ]
                        },
                        "metadata": {
                            "designer": {
                                "x": 600,
                                "y": 0,
                                "name": "ideaImprover"
                            },
                            "restore": {
                                "parameters": {
                                    "__IMTCONN__": {
                                        "label": "Main OpenAI",
                                        "data": {
                                            "scoped": "true",
                                            "connection": "openai-gpt-3"
                                        }
                                    }
                                },
                                "expect": {
                                    "select": {
                                        "label": "Create a Chat Completion (GPT Models)"
                                    },
                                    "logit_bias": {
                                        "mode": "chose"
                                    },
                                    "response_format": {
                                        "mode": "chose",
                                        "label": "Text"
                                    },
                                    "stop": {
                                        "mode": "chose"
                                    },
                                    "additionalParameters": {
                                        "mode": "chose"
                                    },
                                    "model": {
                                        "mode": "chose",
                                        "label": "gpt-4"
                                    },
                                    "messages": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "role": {
                                                    "mode": "chose",
                                                    "label": "User"
                                                }
                                            }
                                        ]
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:openai-gpt-3",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "select",
                                    "type": "select",
                                    "label": "Select Method",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "chat",
                                            "prompt"
                                        ]
                                    }
                                },
                                {
                                    "name": "max_tokens",
                                    "type": "number",
                                    "label": "Max Tokens",
                                    "required": true
                                },
                                {
                                    "name": "temperature",
                                    "type": "number",
                                    "label": "Temperature",
                                    "validate": {
                                        "max": 2,
                                        "min": 0
                                    }
                                },
                                {
                                    "name": "top_p",
                                    "type": "number",
                                    "label": "Top P",
                                    "validate": {
                                        "max": 1,
                                        "min": 0
                                    }
                                },
                                {
                                    "name": "n_completions",
                                    "type": "number",
                                    "label": "Number"
                                },
                                {
                                    "name": "frequency_penalty",
                                    "type": "number",
                                    "label": "Frequency Penalty",
                                    "validate": {
                                        "max": 2,
                                        "min": -2
                                    }
                                },
                                {
                                    "name": "presence_penalty",
                                    "type": "number",
                                    "label": "Presence Penalty",
                                    "validate": {
                                        "max": 2,
                                        "min": -2
                                    }
                                },
                                {
                                    "name": "logit_bias",
                                    "type": "array",
                                    "label": "Token Probability",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "token",
                                                "type": "text",
                                                "label": "Token ID",
                                                "required": true
                                            },
                                            {
                                                "name": "probability",
                                                "type": "number",
                                                "label": "Probability",
                                                "required": true,
                                                "validate": {
                                                    "max": 100,
                                                    "min": -100
                                                }
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Token Probability",
                                        "name": "value"
                                    }
                                },
                                {
                                    "name": "response_format",
                                    "type": "select",
                                    "label": "Response Format",
                                    "validate": {
                                        "enum": [
                                            "text",
                                            "json_object"
                                        ]
                                    }
                                },
                                {
                                    "name": "seed",
                                    "type": "integer",
                                    "label": "Seed"
                                },
                                {
                                    "name": "stop",
                                    "type": "array",
                                    "label": "Stop Sequences",
                                    "validate": {
                                        "maxItems": 4
                                    },
                                    "spec": {
                                        "type": "text",
                                        "label": "Stop Sequence",
                                        "name": "value"
                                    }
                                },
                                {
                                    "name": "additionalParameters",
                                    "type": "array",
                                    "label": "Other Input Parameters",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Parameter Name",
                                                "required": true
                                            },
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Input Type",
                                                "options": [
                                                    {
                                                        "label": "Text",
                                                        "value": "text",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Parameter Value"
                                                            }
                                                        ],
                                                        "default": true
                                                    },
                                                    {
                                                        "label": "Number",
                                                        "value": "number",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "number",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Boolean",
                                                        "value": "boolean",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "boolean",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Date",
                                                        "value": "date",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "date",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Any",
                                                        "value": "any",
                                                        "nested": [
                                                            {
                                                                "name": "value",
                                                                "type": "any",
                                                                "label": "Parameter Value"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Input Parameter",
                                        "name": "value"
                                    }
                                },
                                {
                                    "name": "model",
                                    "type": "select",
                                    "label": "Model",
                                    "required": true
                                },
                                {
                                    "name": "messages",
                                    "type": "array",
                                    "label": "Messages",
                                    "required": true,
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": [
                                                    {
                                                        "label": "System",
                                                        "value": "system"
                                                    },
                                                    {
                                                        "label": "User",
                                                        "value": "user"
                                                    },
                                                    {
                                                        "label": "Assistant",
                                                        "value": "assistant"
                                                    }
                                                ],
                                                "required": true
                                            },
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Message Content"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Message",
                                        "name": "value"
                                    }
                                }
                            ]
                        }
                    },
                    {
                        "id": 11,
                        "module": "airtable:ActionCreateRecord",
                        "version": 3,
                        "parameters": {
                            "__IMTCONN__": 2096224
                        },
                        "mapper": {
                            "base": "appD3qaCtc00veoHs",
                            "table": "tbljJIRbTC9TdJyW0",
                            "record": {
                                "fldC6k3Nv3uroLiSV": "{{10.choices[].message.content}}"
                            },
                            "typecast": false,
                            "useColumnId": false
                        },
                        "metadata": {
                            "designer": {
                                "x": 900,
                                "y": 0
                            },
                            "restore": {
                                "expect": {
                                    "base": {
                                        "label": "[CRS] Content Repurposing System"
                                    },
                                    "table": {
                                        "label": "ideasImprover",
                                        "nested": [
                                            {
                                                "name": "record",
                                                "spec": [
                                                    {
                                                        "name": "fldhypVjR8YudGSwZ",
                                                        "spec": {
                                                            "label": "Record ID"
                                                        },
                                                        "type": "array",
                                                        "label": "Brand Assets"
                                                    },
                                                    {
                                                        "mode": "edit",
                                                        "name": "flduhLi3Qo8Pdefww",
                                                        "type": "select",
                                                        "label": "contentToCreate",
                                                        "dynamic": true,
                                                        "options": [
                                                            {
                                                                "label": "YouTube Video",
                                                                "value": "YouTube Video"
                                                            },
                                                            {
                                                                "label": "Newsletter",
                                                                "value": "Newsletter"
                                                            },
                                                            {
                                                                "label": "Blogpost",
                                                                "value": "Blogpost"
                                                            },
                                                            {
                                                                "label": "Podcast Episode",
                                                                "value": "Podcast Episode"
                                                            }
                                                        ],
                                                        "validate": false
                                                    },
                                                    {
                                                        "name": "fldC6k3Nv3uroLiSV",
                                                        "type": "text",
                                                        "label": "yourIdea",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "fldzsr0lWhJCIigv0",
                                                        "spec": {
                                                            "label": "Record ID"
                                                        },
                                                        "type": "array",
                                                        "label": "ideasTemplatePrompts"
                                                    },
                                                    {
                                                        "mode": "edit",
                                                        "name": "fldB192yXVnShngcF",
                                                        "type": "select",
                                                        "label": "AIModel_ideasGenerator",
                                                        "dynamic": true,
                                                        "options": [
                                                            {
                                                                "label": "ChatGPT",
                                                                "value": "ChatGPT"
                                                            },
                                                            {
                                                                "label": "Claude",
                                                                "value": "Claude"
                                                            }
                                                        ],
                                                        "validate": false
                                                    },
                                                    {
                                                        "mode": "edit",
                                                        "name": "fld3Hn79eXpn9nn7s",
                                                        "type": "select",
                                                        "label": "AIstatusIdeaGenerator",
                                                        "dynamic": true,
                                                        "options": [
                                                            {
                                                                "label": "Pre AI",
                                                                "value": "Pre AI"
                                                            },
                                                            {
                                                                "label": "AI Writing...",
                                                                "value": "AI Writing..."
                                                            },
                                                            {
                                                                "label": "AI Complete",
                                                                "value": "AI Complete"
                                                            }
                                                        ],
                                                        "validate": false
                                                    },
                                                    {
                                                        "name": "fldQvxTN6a6Nk3gi7",
                                                        "type": "text",
                                                        "label": "AI_ideaOutput"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Record"
                                            }
                                        ]
                                    },
                                    "record": {
                                        "nested": {
                                            "fld3Hn79eXpn9nn7s": {
                                                "mode": "edit"
                                            },
                                            "fldB192yXVnShngcF": {
                                                "mode": "edit"
                                            },
                                            "fldhypVjR8YudGSwZ": {
                                                "mode": "chose"
                                            },
                                            "flduhLi3Qo8Pdefww": {
                                                "mode": "edit"
                                            },
                                            "fldzsr0lWhJCIigv0": {
                                                "mode": "chose"
                                            }
                                        }
                                    },
                                    "typecast": {
                                        "mode": "chose"
                                    },
                                    "useColumnId": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "airtable3"
                                        },
                                        "label": "Connection1 (User ID: usrdCHJdcPKhGglOp)"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:airtable3,airtable2",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "base",
                                    "type": "select",
                                    "label": "Base",
                                    "required": true
                                },
                                {
                                    "name": "typecast",
                                    "type": "boolean",
                                    "label": "Smart links",
                                    "required": true
                                },
                                {
                                    "name": "useColumnId",
                                    "type": "boolean",
                                    "label": "Use Column ID",
                                    "required": true
                                },
                                {
                                    "name": "table",
                                    "type": "select",
                                    "label": "Table",
                                    "required": true
                                },
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldhypVjR8YudGSwZ",
                                            "spec": {
                                                "name": "value",
                                                "label": "Record ID"
                                            },
                                            "type": "array",
                                            "label": "Brand Assets"
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "flduhLi3Qo8Pdefww",
                                            "type": "select",
                                            "label": "contentToCreate"
                                        },
                                        {
                                            "name": "fldC6k3Nv3uroLiSV",
                                            "type": "text",
                                            "label": "yourIdea"
                                        },
                                        {
                                            "name": "fldzsr0lWhJCIigv0",
                                            "spec": {
                                                "name": "value",
                                                "label": "Record ID"
                                            },
                                            "type": "array",
                                            "label": "ideasTemplatePrompts"
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "fldB192yXVnShngcF",
                                            "type": "select",
                                            "label": "AIModel_ideasGenerator"
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "fld3Hn79eXpn9nn7s",
                                            "type": "select",
                                            "label": "AIstatusIdeaGenerator"
                                        },
                                        {
                                            "name": "fldQvxTN6a6Nk3gi7",
                                            "type": "text",
                                            "label": "AI_ideaOutput"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ],
                            "interface": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "createdTime",
                                    "type": "date",
                                    "label": "Created Time"
                                },
                                {
                                    "name": "IdeasID",
                                    "type": "text",
                                    "label": "IdeasID"
                                },
                                {
                                    "name": "Brand Assets",
                                    "spec": {
                                        "label": "Record ID"
                                    },
                                    "type": "array",
                                    "label": "Brand Assets"
                                },
                                {
                                    "name": "contentToCreate",
                                    "type": "text",
                                    "label": "contentToCreate"
                                },
                                {
                                    "name": "yourIdea",
                                    "type": "text",
                                    "label": "yourIdea",
                                    "multiline": true
                                },
                                {
                                    "name": "ideasTemplatePrompts",
                                    "spec": {
                                        "label": "Record ID"
                                    },
                                    "type": "array",
                                    "label": "ideasTemplatePrompts"
                                },
                                {
                                    "name": "packagedPromptTemplateIdeas (from ideasTemplatePrompts)",
                                    "type": "array",
                                    "label": "packagedPromptTemplateIdeas (from ideasTemplatePrompts)"
                                },
                                {
                                    "name": "AIModel_ideasGenerator",
                                    "type": "text",
                                    "label": "AIModel_ideasGenerator"
                                },
                                {
                                    "name": "AIstatusIdeaGenerator",
                                    "type": "text",
                                    "label": "AIstatusIdeaGenerator"
                                },
                                {
                                    "name": "ideaGeneratorTrigger",
                                    "spec": [
                                        {
                                            "name": "label",
                                            "type": "text",
                                            "label": "Label"
                                        },
                                        {
                                            "name": "url",
                                            "type": "url",
                                            "label": "URL"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "ideaGeneratorTrigger"
                                },
                                {
                                    "name": "AI_ideaOutput",
                                    "type": "text",
                                    "label": "AI_ideaOutput"
                                },
                                {
                                    "name": "brandVoiceGuidelines (from Brand Assets)",
                                    "type": "array",
                                    "label": "brandVoiceGuidelines (from Brand Assets)"
                                },
                                {
                                    "name": "ExcludedWordsPhrases (from Brand Assets)",
                                    "type": "array",
                                    "label": "ExcludedWordsPhrases (from Brand Assets)"
                                },
                                {
                                    "name": "Writing Grade Level (from Brand Assets)",
                                    "type": "array",
                                    "label": "Writing Grade Level (from Brand Assets)"
                                }
                            ]
                        }
                    }
                ]
            ]
        },
        "zone": "us1.make.com"
    }
}