pmoves/docs/pmoves_all_in_one_v10/docs/n8n/yt_ingest.json
{
  "name": "PMOVES YouTube Ingest \u2192 Notebook",
  "nodes": [
    {
      "parameters": {
        "path": "pmoves/youtube/ingest",
        "responseCode": 200
      },
      "id": "Webhook",
      "name": "HTTP Trigger",
      "type": "n8n-nodes-base.httpTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const body=$json;const videoId=body.videoId||body.id||(body.url||'').split('v=')[1];return [{ videoId, text: body.title || 'YouTube item', meta: body }];"
      },
      "id": "Fn",
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "={{$json.supabaseUrl}}/rest/v1/chat_messages",
        "jsonParameters": true,
        "options": {
          "sendHeaders": true
        },
        "headerParametersJson": "={\"apikey\":\"{{$json.supabaseAnonKey}}\",\"Authorization\":\"Bearer {{$json.supabaseAnonKey}}\",\"Content-Type\":\"application/json\"}",
        "queryParametersJson": "={\"select\":\"*\"}",
        "bodyParametersJson": "={\"thread_id\":\"{{$json.threadId}}\",\"author_id\":\"{{$json.userId}}\",\"role\":\"system\",\"text\":\"YouTube: {{$json.text}}\",\"cgp\":{\"provider\":\"youtube\",\"videoId\":\"{{$json.videoId}}\"}}"
      },
      "id": "InsertMsg",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        520,
        260
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "={{$json.supabaseUrl}}/rest/v1/content_blocks",
        "jsonParameters": true,
        "options": {
          "sendHeaders": true
        },
        "headerParametersJson": "={\"apikey\":\"{{$json.supabaseAnonKey}}\",\"Authorization\":\"Bearer {{$json.supabaseAnonKey}}\",\"Content-Type\":\"application/json\"}",
        "queryParametersJson": "={\"select\":\"*\"}",
        "bodyParametersJson": "={\"message_id\":\"={{$json[\"HTTP Request\"].body[0].id}}\",\"kind\":\"video\",\"uri\":\"yt://{{$json.videoId}}\",\"meta\":{\"provider\":\"youtube\",\"videoId\":\"{{$json.videoId}}\"}}"
      },
      "id": "InsertBlk",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        520,
        360
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "={{$json.supabaseUrl}}/rest/v1/message_views",
        "jsonParameters": true,
        "options": {
          "sendHeaders": true
        },
        "headerParametersJson": "={\"apikey\":\"{{$json.supabaseAnonKey}}\",\"Authorization\":\"Bearer {{$json.supabaseAnonKey}}\",\"Content-Type\":\"application/json\"}",
        "queryParametersJson": "={\"select\":\"*\"}",
        "bodyParametersJson": "={\"message_id\":\"={{$json[\"HTTP Request\"].body[0].id}}\",\"block_id\":\"={{$json[\"HTTP Request1\"].body[0].id}}\",\"archetype\":\"digital.hud\",\"variant\":\"primary\",\"seed\":42,\"layout\":{\"x\":80,\"y\":80,\"w\":420,\"h\":260}}"
      },
      "id": "InsertView",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        520,
        460
      ]
    }
  ],
  "connections": {
    "HTTP Trigger": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
