pmoves/n8n/flows/approval_poller.json
{
  "meta": {
    "instanceId": "pmoves-demo"
  },
  "nodes": [
    {
      "parameters": {
        "triggerTimes": [
          {
            "item": {
              "mode": "everyMinute"
            }
          }
        ]
      },
      "id": "cron_poll",
      "name": "Schedule: Poll Approvals",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -520,
        180
      ]
    },
    {
      "parameters": {
        "authentication": "none",
        "requestMethod": "GET",
        "url": "={{ $env.SUPABASE_REST_URL }}/studio_board",
        "jsonParameters": false,
        "options": {
          "queryParametersUi": {
            "parameter": [
              {
                "name": "status",
                "value": "eq.approved"
              },
              {
                "name": "meta->>publish_event_sent_at",
                "value": "is.null"
              },
              {
                "name": "order",
                "value": "created_at.asc"
              }
            ]
          },
          "headerParametersUi": {
            "parameter": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
              }
            ]
          }
        }
      },
      "id": "fetch_supabase",
      "name": "Fetch Pending Approvals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -280,
        180
      ]
    },
    {
      "parameters": {
        "batchSize": 1
      },
      "id": "split_rows",
      "name": "Split Pending Approvals",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -20,
        180
      ]
    },
    {
      "parameters": {
        "functionCode": "const row = item.json || {};\nconst meta = (row.meta && typeof row.meta === 'object') ? row.meta : {};\nconst payload = {\n  artifact_uri: row.content_url,\n  title: row.title || meta.title || 'Untitled Artifact',\n  namespace: row.namespace || undefined,\n  description: meta.description || undefined,\n  tags: Array.isArray(meta.tags) ? meta.tags : undefined,\n  meta\n};\n\nif (!payload.namespace) {\n  delete payload.namespace;\n}\nif (!payload.description) {\n  delete payload.description;\n}\nif (!payload.tags || payload.tags.length === 0) {\n  delete payload.tags;\n}\n\nconst patch = {\n  status: 'published',\n  meta: {\n    ...meta,\n    publish_event_sent_at: new Date().toISOString()\n  }\n};\n\nreturn {\n  json: {\n    envelope: {\n      topic: 'content.publish.approved.v1',\n      payload\n    },\n    rowId: row.id,\n    patch\n  }\n};"
      },
      "id": "prepare_event",
      "name": "Prepare Publish Envelope",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        240,
        180
      ]
    },
    {
      "parameters": {
        "authentication": "none",
        "requestMethod": "POST",
        "url": "={{ $env.AGENT_ZERO_BASE_URL }}/events/publish",
        "jsonParameters": true,
        "sendBody": true,
        "bodyParametersJson": "={{ JSON.stringify($json.envelope) }}",
        "options": {
          "headerParametersUi": {
            "parameter": [
              {
                "name": "content-type",
                "value": "application/json"
              },
              {
                "name": "x-agent-token",
                "value": "={{ $env.AGENT_ZERO_EVENTS_TOKEN }}"
              }
            ]
          }
        }
      },
      "id": "publish_event",
      "name": "Publish Approval Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        520,
        180
      ]
    },
    {
      "parameters": {
        "authentication": "none",
        "requestMethod": "PATCH",
        "url": "={{ $env.SUPABASE_REST_URL }}/studio_board?id=eq.{{$json.rowId}}",
        "jsonParameters": true,
        "sendBody": true,
        "bodyParametersJson": "={{ JSON.stringify($json.patch) }}",
        "options": {
          "headerParametersUi": {
            "parameter": [
              {
                "name": "content-type",
                "value": "application/json"
              },
              {
                "name": "prefer",
                "value": "return=minimal"
              },
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
              }
            ]
          }
        }
      },
      "id": "mark_processed",
      "name": "Mark Approval Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        780,
        180
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "message",
              "value": "No pending approvals"
            }
          ]
        }
      },
      "id": "no_pending",
      "name": "No Pending Approvals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        240,
        -20
      ]
    }
  ],
  "connections": {
    "Schedule: Poll Approvals": {
      "main": [
        [
          {
            "node": "Fetch Pending Approvals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending Approvals": {
      "main": [
        [
          {
            "node": "Split Pending Approvals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Pending Approvals": {
      "main": [
        [
          {
            "node": "Prepare Publish Envelope",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Pending Approvals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Publish Envelope": {
      "main": [
        [
          {
            "node": "Publish Approval Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Approval Event": {
      "main": [
        [
          {
            "node": "Mark Approval Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Approval Row": {
      "main": [
        [
          {
            "node": "Split Pending Approvals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "staticData": null,
  "id": "PMOVES • Supabase Approval Poller v1"
}
