pmoves/n8n/flows/finance_monthly_to_cgp.json
{
  "name": "Finance Monthly → CGP (demo)",
  "nodes": [
    {"parameters":{},"id":"Start","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[240,300]},
    {"parameters":{"functionCode":"const payload={\n  namespace:'pmoves',\n  month:'2025-09',\n  currency:'USD',\n  totals:{income:8200,spend:6150,savings:2050},\n  by_category:[\n    {category:'Housing',spend:2400,budget:2400,variance:0},\n    {category:'Food',spend:780.5,budget:700,variance:80.5},\n    {category:'Transport',spend:320,budget:350,variance:-30},\n    {category:'Health',spend:210,budget:200,variance:10},\n    {category:'Leisure',spend:410,budget:300,variance:110}\n  ],\n  notes:'Food & Leisure over budget; transport under.',\n  tags:['firefly','finance']\n};\nreturn [{json:{topic:'finance.monthly.summary.v1',payload}}];"},"id":"Build","name":"Build Finance Summary","type":"n8n-nodes-base.function","typeVersion":2,"position":[520,300]},
    {"parameters":{"functionCode":"const evt=$json; const p=evt.payload; const ns=p.namespace||'pmoves'; const month=p.month; const cats=p.by_category||[]; const spendVals=cats.map(c=>c.spend||0); const lo=spendVals.length?Math.min(...spendVals):0; const hi=spendVals.length?Math.max(...spendVals):1; const norm=(v)=>{ if(v==null)return null; if(hi===lo)return 0; let x=(v-lo)/(hi-lo); return Math.max(0,Math.min(1,x)); }; const consts=cats.map(c=>({ id:`fin.${c.category}.${month}`, summary:`${c.category} spend vs budget`, spectrum:[norm(c.spend)||0, c.budget==null?0:norm(c.budget)||0], points:[ {id:`${month}:${c.category}:spend`, modality:'metric', proj:norm(c.spend)||0, summary:`$${(c.spend||0).toFixed(2)}`}, {id:`${month}:${c.category}:budget`, modality:'metric', proj:c.budget==null?0:(norm(c.budget)||0), summary:`$${((c.budget)||0).toFixed(2)}`}, {id:`${month}:${c.category}:variance`, modality:'metric', proj:0.5 + Math.max(-0.5, Math.min(0.5, (c.variance||0)/Math.max(Math.abs(hi),1))), summary:`var=${(c.variance||0).toFixed(2)}`} ], meta:{namespace:ns, month, category:c.category} })); const cgp={ spec:'chit.cgp.v0.1', summary:`finance monthly summary (${month})`, super_nodes:[{ id:`finance:${ns}`, label:ns, summary:p.notes||'', constellations: consts }], meta:{ source:'finance.monthly.summary.v1', currency:p.currency, tags:p.tags||[] } }; return [{json:{type:'geometry.cgp.v1', data:cgp}}];"},"id":"Map","name":"Map to CGP","type":"n8n-nodes-base.function","typeVersion":2,"position":[800,300]},
    {"parameters":{"url":"http://hi-rag-gateway-v2:8086/geometry/event","options":{"timeout":20}},"id":"Post","name":"POST CGP","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1040,300]}
  ],
  "connections": {
    "Manual Trigger": { "main": [[ { "node": "Build Finance Summary", "type": "main", "index": 0 } ]] },
    "Build Finance Summary": { "main": [[ { "node": "Map to CGP", "type": "main", "index": 0 } ]] },
    "Map to CGP": { "main": [[ { "node": "POST CGP", "type": "main", "index": 0 } ]] }
  }
}

