pmoves/n8n/flows/firefly_sync_to_supabase.json
{
  "name": "Finance Firefly Sync → Supabase (hourly)",
  "settings": {},
  "active": false,
  "nodes": [
    {"parameters": {"triggerTimes": [{"item": {"mode": "everyHour"}}]}, "id": "cron", "name": "Schedule", "type": "n8n-nodes-base.cron", "typeVersion": 1, "position": [ -320, 120 ]},
    {"parameters": {"url": "={{ $env.FIREFLY_BASE_URL }}/api/v1/transactions?limit=100", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{$env.FIREFLY_ACCESS_TOKEN}}"}]}, "options": {"timeout": 30}}, "id": "fetch", "name": "Fetch Transactions", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1, "position": [ -40, 120 ]},
    {"parameters": {"batchSize": 1}, "id": "split", "name": "Split", "type": "n8n-nodes-base.splitInBatches", "typeVersion": 1, "position": [ 180, 120 ]},
    {"parameters": {"functionCode": "const tx = ($json.data && Array.isArray($json.data)) ? $json.data[0] : $json; const id = tx.id || (tx.attributes && tx.attributes.journal_id) || undefined; const at = (tx.attributes && tx.attributes.date) || tx.date || new Date().toISOString(); const cat = (tx.attributes && tx.attributes.category_name) || (tx.category && tx.category.name) || 'Uncategorized'; const amt = (tx.attributes && tx.attributes.amount) || tx.amount || 0; const row = { namespace: 'pmoves', source: 'firefly', external_id: String(id||''), occurred_at: new Date(at).toISOString(), amount: Number(amt), currency: (tx.attributes && tx.attributes.currency_code) || 'USD', category: cat, description: (tx.attributes && tx.attributes.description) || tx.description || null }; return [{ json: row }];"}, "id": "map", "name": "Map → finance_transactions", "type": "n8n-nodes-base.function", "typeVersion": 2, "position": [ 420, 120 ]},
    {"parameters": {"method": "POST", "url": "={{ $env.SUPA_REST_URL }}/finance_transactions", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "content-type", "value": "application/json"}, {"name": "prefer", "value": "resolution=merge-duplicates"}, {"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}, {"name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"}]}, "sendBody": true, "bodyParameters": {"parameters": []}, "body": "={{ JSON.stringify($json) }}", "options": {"timeout": 30}}, "id": "upsert", "name": "Upsert → Supabase", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1, "position": [ 700, 120 ]}
  ],
  "connections": {
    "Schedule": {"main": [[{"node":"Fetch Transactions", "type": "main", "index": 0}]]},
    "Fetch Transactions": {"main": [[{"node":"Split", "type": "main", "index": 0}]]},
    "Split": {"main": [[{"node":"Map → finance_transactions", "type": "main", "index": 0}]]},
    "Map → finance_transactions": {"main": [[{"node":"Upsert → Supabase", "type": "main", "index": 0}]]}
  }
}

