pmoves/n8n/flows/health_weekly_to_cgp.json
{
  "name": "Health Weekly → CGP (demo)",
  "nodes": [
    {
      "parameters": {},
      "id": "Start",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "functionCode": "// Build a sample weekly summary\nconst payload = {\n  namespace: 'pmoves',\n  period_start: '2025-10-06',\n  period_end: '2025-10-12',\n  metrics: { total_workouts: 5, adherence_pct: 83.3, avg_load: 62.5, recovery_score: 71, avg_duration_min: 48 },\n  daily: [\n    { date: '2025-10-06', workouts: 1, load: 60, duration_min: 45 },\n    { date: '2025-10-07', workouts: 1, load: 70, duration_min: 55 },\n    { date: '2025-10-08', workouts: 0 },\n    { date: '2025-10-09', workouts: 1, load: 65, duration_min: 50 },\n    { date: '2025-10-10', workouts: 0 },\n    { date: '2025-10-11', workouts: 1, load: 55, duration_min: 40 },\n    { date: '2025-10-12', workouts: 1, load: 62, duration_min: 50 }\n  ],\n  tags: ['wger','health']\n};\nreturn [{ json: { topic: 'health.weekly.summary.v1', payload } }];"
      },
      "id": "Build",
      "name": "Build Health Summary",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "functionCode": "// Map to CHIT CGP (inline JS mirror of mapper)\nconst evt = $json;\nconst p = evt.payload;\nconst ns = p.namespace || 'pmoves';\nconst period = `${p.period_start}..${p.period_end}`;\nconst daily = p.daily || [];\nconst loads = daily.map(d=>d.load).filter(v=>typeof v==='number');\nconst lo = loads.length? Math.min(...loads):0;\nconst hi = loads.length? Math.max(...loads):100;\nconst norm = (v)=>{ if(v==null)return null; if(hi===lo)return 0; let x=(v-lo)/(hi-lo); return Math.max(0, Math.min(1, x)); }\nconst adhPts = daily.map(d=>({ id: `${d.date}:adh`, modality:'metric', ref_id: d.date, proj: (d.workouts||0)>0?1:0, summary:`workouts=${d.workouts||0}` }));\nconst loadPts = daily.map(d=>({ id: `${d.date}:load`, modality:'metric', ref_id: d.date, proj: norm(d.load)||0, summary:`load=${d.load}` }));\nconst consts = [\n  { id:`health.adh.${period}`, summary:`adherence for ${period}`, spectrum:[(p.metrics?.adherence_pct||0)/100], points: adhPts, meta:{ namespace: ns, period } },\n  { id:`health.load.${period}`, summary:`training load for ${period}`, spectrum:[norm(p.metrics?.avg_load)||0], points: loadPts, meta:{ namespace: ns, period } },\n  { id:`health.recovery.${period}`, summary:`recovery score`, spectrum:[(p.metrics?.recovery_score||0)/100], points:[{ id:`rec:${period}`, modality:'metric', proj:(p.metrics?.recovery_score||0)/100 }], meta:{ namespace: ns, period } }\n];\nconst cgp = { spec:'chit.cgp.v0.1', summary:`health weekly summary (${period})`, super_nodes:[{ id:`health:${ns}`, label:ns, summary:p.notes||'', constellations: consts }], meta:{ source:'health.weekly.summary.v1', tags: p.tags||[] } };\nreturn [{ json: { type:'geometry.cgp.v1', data: cgp } }];"
      },
      "id": "Map",
      "name": "Map to CGP",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "url": "http://hi-rag-gateway-v2:8086/geometry/event",
        "options": {
          "timeout": 20
        }
      },
      "id": "Post",
      "name": "POST CGP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1040, 300]
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[ { "node": "Build Health Summary", "type": "main", "index": 0 } ]] },
    "Build Health Summary": { "main": [[ { "node": "Map to CGP", "type": "main", "index": 0 } ]] },
    "Map to CGP": { "main": [[ { "node": "POST CGP", "type": "main", "index": 0 } ]] }
  }
}

