pmoves/n8n/flows/health_weekly_to_cgp.webhook.json
{
  "name": "Health Weekly \u2192 CGP (webhook)",
  "settings": {},
  "active": false,
  "nodes": [
    {
      "parameters": {
        "path": "health-cgp",
        "options": {
          "responseData": "{\"ok\":true}"
        },
        "httpMethod": "POST"
      },
      "id": "wh_health",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        140
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPA_REST_URL }}/health_workouts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "order",
              "value": "observed_at.asc"
            },
            {
              "name": "limit",
              "value": "500"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        },
        "options": {
          "timeout": 30
        }
      },
      "id": "fetch_health",
      "name": "Fetch health_workouts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        520,
        140
      ]
    },
    {
      "parameters": {
        "functionCode": "// Aggregate workouts into weekly summary from PostgREST rows\nconst rows = Array.isArray(items[0].json) ? items[0].json : [];\nif (rows.length === 0) { return [{ json: { topic: 'health.weekly.summary.v1', payload: { namespace: 'pmoves', period_start: new Date().toISOString().substring(0,10), period_end: new Date().toISOString().substring(0,10), metrics: { total_workouts: 0, adherence_pct: 0 }, daily: [] } } }]; }\nconst parseDate = (s)=> new Date(s);\nconst byDay = new Map();\nfor (const r of rows) {\n  const d = (r.observed_at || r.observed || r.observedAt || '').substring(0,10);\n  if (!d) continue;\n  const m = (r.metrics && typeof r.metrics==='object') ? r.metrics : {};\n  const prev = byDay.get(d) || { workouts: 0, load: 0, dur: 0, count: 0 };\n  byDay.set(d, { workouts: prev.workouts + 1, load: prev.load + (m.load || 0), dur: prev.dur + (m.duration_min || 0), count: prev.count + 1 });\n}\nconst days = [...byDay.keys()].sort();\nconst start = days[0];\nconst end = days[days.length-1];\nlet totalWorkouts = 0; let loadSum = 0; let durSum = 0; let nload = 0;\nconst daily = days.map(d => { const v = byDay.get(d); totalWorkouts += v.workouts; loadSum += v.load; durSum += v.dur; nload += v.count; return { date: d, workouts: v.workouts, load: v.count? v.load/v.count : null, duration_min: v.count? v.dur/v.count : null }; });\nconst uniqueDays = days.length || 1;\nconst adherence = (daily.filter(x=> (x.workouts||0)>0).length / uniqueDays) * 100.0;\nconst payload = { namespace: 'pmoves', period_start: start, period_end: end, metrics: { total_workouts: totalWorkouts, adherence_pct: +adherence.toFixed(1), avg_load: nload? +(loadSum/nload).toFixed(2) : null, avg_duration_min: nload? +(durSum/nload).toFixed(1) : null }, daily, tags: ['wger','health'] };\nreturn [{ json: { topic: 'health.weekly.summary.v1', payload } }];"
      },
      "id": "agg_health",
      "name": "Aggregate \u2192 summary",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        780,
        140
      ]
    },
    {
      "parameters": {
        "functionCode": "// Map to CGP (same logic as mapper util)\nconst evt = $json; const p = evt.payload; const ns = p.namespace||'pmoves'; const period = `${p.period_start}..${p.period_end}`; const daily = p.daily||[]; const loads = daily.map(d=>d.load).filter(v=>typeof v==='number'); const lo = loads.length? Math.min(...loads):0; const hi = loads.length? Math.max(...loads):100; const norm=(v)=>{ if(v==null) return null; if(hi===lo) return 0; let x=(v-lo)/(hi-lo); return Math.max(0,Math.min(1,x)); }; const adhPts = daily.map(d=>({ id: `${d.date}:adh`, modality:'metric', ref_id:d.date, proj: (d.workouts||0)>0?1:0, summary:`workouts=${d.workouts||0}` })); const loadPts = daily.map(d=>({ id:`${d.date}:load`, modality:'metric', ref_id:d.date, proj: norm(d.load)||0, summary:`load=${d.load}` })); const consts = [ { id:`health.adh.${period}`, summary:`adherence for ${period}`, spectrum:[(p.metrics?.adherence_pct||0)/100], points: adhPts, meta:{ namespace: ns, period } }, { id:`health.load.${period}`, summary:`training load for ${period}`, spectrum:[norm(p.metrics?.avg_load)||0], points: loadPts, meta:{ namespace: ns, period } } ]; const rec = p.metrics?.recovery_score; consts.push({ id:`health.recovery.${period}`, summary:'recovery score', spectrum:[(rec||0)/100], points:[{ id:`rec:${period}`, modality:'metric', proj:(rec||0)/100 }], meta:{ namespace: ns, period } }); const cgp={ spec:'chit.cgp.v0.1', summary:`health weekly summary (${period})`, super_nodes:[{ id:`health:${ns}`, label:ns, summary:p.notes||'', constellations: consts }], meta:{ source:'health.weekly.summary.v1', tags:p.tags||[] } }; return [{ json:{ type:'geometry.cgp.v1', data:cgp } }];"
      },
      "id": "map_cgp",
      "name": "Map \u2192 CGP",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1040,
        140
      ]
    },
    {
      "parameters": {
        "url": "http://hi-rag-gateway-v2:8086/geometry/event",
        "sendBody": true,
        "body": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30,
          "bodyContentType": "json"
        },
        "method": "POST",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ]
      },
      "id": "post_cgp",
      "name": "POST CGP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1300,
        140
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch health_workouts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch health_workouts": {
      "main": [
        [
          {
            "node": "Aggregate \u2192 summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate \u2192 summary": {
      "main": [
        [
          {
            "node": "Map \u2192 CGP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map \u2192 CGP": {
      "main": [
        [
          {
            "node": "POST CGP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}