pmoves/n8n/flows/pmoves_comfy_gen.json
[
  {
    "name": "PMOVES ComfyUI Gen v1",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "pmoves/gen-image",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "Webhook",
        "name": "Webhook: Gen Image",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.0,
        "position": [
          260,
          300
        ]
      },
      {
        "parameters": {
          "authentication": "none",
          "requestMethod": "POST",
          "url": "http://comfyui:8188/prompt",
          "jsonParameters": true,
          "options": {},
          "sendBody": true,
          "bodyParametersJson": "={{ $json.prompt || $json }}"
        },
        "id": "HTTP",
        "name": "HTTP → ComfyUI /prompt",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          560,
          300
        ]
      },
      {
        "parameters": {
          "options": {},
          "responseBody": "Generation started"
        },
        "id": "Resp",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.0,
        "position": [
          860,
          300
        ]
      }
    ],
    "connections": {
      "Webhook: Gen Image": {
        "main": [
          [
            {
              "node": "HTTP → ComfyUI /prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP → ComfyUI /prompt": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "staticData": null,
    "active": false,
    "meta": {
      "instanceId": "pmoves-demo"
    },
    "pinData": null,
    "versionId": "fb8d468e-5073-482d-99b8-d20c91b90465",
    "versionCounter": 1,
    "triggerCount": 0,
    "tags": []
  }
]
