pmoves/n8n/flows/pmoves_content_approval.json
[
  {
    "name": "PMOVES Content Approval v1",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "pmoves/approve-content",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "Webhook",
        "name": "Webhook: Approve Content",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.0,
        "position": [
          260,
          300
        ]
      },
      {
        "parameters": {
          "authentication": "none",
          "requestMethod": "POST",
          "url": "http://agent-zero:8080/events/publish",
          "jsonParameters": true,
          "options": {},
          "sendBody": true,
          "bodyParametersJson": "{\"topic\":\"content.publish.approved.v1\",\"payload\":{{$json}}}"
        },
        "id": "HTTP",
        "name": "HTTP → Agent Zero",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          560,
          300
        ]
      },
      {
        "parameters": {
          "options": {},
          "responseBody": "Approval accepted"
        },
        "id": "Resp",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.0,
        "position": [
          860,
          300
        ]
      }
    ],
    "connections": {
      "Webhook: Approve Content": {
        "main": [
          [
            {
              "node": "HTTP → Agent Zero",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP → Agent Zero": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "staticData": null,
    "active": false,
    "meta": {
      "instanceId": "pmoves-demo"
    },
    "pinData": null,
    "versionId": "7d25e73b-7ec1-4ebe-993c-632a5a7de9ae",
    "versionCounter": 1,
    "triggerCount": 0,
    "tags": []
  }
]
