pmoves/services/n8n/workflows/pmoves_echo_ingest.json
{
  "meta": {
    "instanceId": "pmoves-demo"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pmoves/ingest",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "Webhook",
      "name": "Webhook: Ingest Transcript",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.0,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "none",
        "requestMethod": "POST",
        "url": "http://agent-zero:8080/events/publish",
        "jsonParameters": true,
        "options": {},
        "sendBody": true,
        "bodyParametersJson": "{\"topic\":\"ingest.transcript.ready.v1\",\"payload\":{{$json}}}"
      },
      "id": "HTTP",
      "name": "HTTP \u2192 Agent Zero",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "options": {},
        "responseBody": "Ingest accepted"
      },
      "id": "Resp",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.0,
      "position": [
        860,
        300
      ]
    }
  ],
  "connections": {
    "Webhook: Ingest Transcript": {
      "main": [
        [
          {
            "node": "HTTP \u2192 Agent Zero",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP \u2192 Agent Zero": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "staticData": null,
  "id": "PMOVES Echo Ingest v1"
}