pmoves/n8n-workflows/telegram-voice-agent.json
{
  "name": "Telegram Voice Agent - PMOVES",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [100, 300],
      "webhookId": "telegram-voice-webhook"
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "id": "message-router",
      "name": "Route by Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [300, 300]
    },
    {
      "parameters": {
        "operation": "getFile",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "id": "get-voice-file",
      "name": "Get Voice File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [500, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-cred",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/file/bot{{ $credentials.telegramApi.accessToken }}/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-audio",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://tensorzero-gateway:3030/v1/audio/transcriptions",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-1"
            }
          ]
        },
        "options": {}
      },
      "id": "whisper-transcribe",
      "name": "Whisper Transcribe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Normalize input from voice or text\nconst items = $input.all();\nconst item = items[0].json;\n\nlet userMessage = '';\nlet isVoice = false;\n\n// Check if this is transcribed voice or direct text\nif (item.text) {\n  // From Whisper transcription\n  userMessage = item.text;\n  isVoice = true;\n} else if (item.message?.text) {\n  // Direct text message\n  userMessage = item.message.text;\n  isVoice = false;\n}\n\nconst chatId = item.message?.chat?.id || items[0].json.message?.chat?.id;\nconst userId = item.message?.from?.id || items[0].json.message?.from?.id;\nconst userName = item.message?.from?.first_name || 'User';\n\nreturn [{\n  json: {\n    user_message: userMessage,\n    is_voice: isVoice,\n    chat_id: chatId,\n    user_id: userId,\n    user_name: userName,\n    platform: 'telegram',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "normalize-input",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://hi-rag-gateway-v2-cpu:8086/hirag/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.user_message }}\",\n  \"top_k\": 3,\n  \"rerank\": true\n}",
        "options": {}
      },
      "id": "hirag-query",
      "name": "Hi-RAG Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Build context from Hi-RAG results\nconst items = $input.all();\nconst hiragResult = items[0].json;\nconst prevData = $('Normalize Input').first().json;\n\nlet context = '';\nlet sources = [];\n\nif (hiragResult.results && hiragResult.results.length > 0) {\n  context = '\\n\\nRelevant context from knowledge base:\\n';\n  hiragResult.results.forEach((r, i) => {\n    context += `[${i+1}] ${r.content?.substring(0, 500) || r.text?.substring(0, 500) || ''}\\n`;\n    sources.push(r.source || r.id || `source-${i}`);\n  });\n}\n\nreturn [{\n  json: {\n    ...prevData,\n    context: context,\n    sources: sources\n  }\n}];"
      },
      "id": "build-context",
      "name": "Build Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://tensorzero-gateway:3030/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-5\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a helpful voice assistant for PMOVES.AI. Keep responses concise and conversational, suitable for voice output. Aim for 1-3 sentences unless more detail is specifically requested.{{ $json.context }}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.user_message }}\"\n    }\n  ],\n  \"max_tokens\": 500\n}",
        "options": {}
      },
      "id": "llm-response",
      "name": "Generate Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1700, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract response text\nconst items = $input.all();\nconst llmResult = items[0].json;\nconst prevData = $('Build Context').first().json;\n\nconst responseText = llmResult.choices?.[0]?.message?.content || 'Sorry, I could not generate a response.';\n\nreturn [{\n  json: {\n    ...prevData,\n    response_text: responseText,\n    model_used: llmResult.model || 'claude-sonnet-4-5'\n  }\n}];"
      },
      "id": "extract-response",
      "name": "Extract Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1900, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.response_text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "send-text-response",
      "name": "Send Text Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2100, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-cred",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/voice_messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"platform\": \"telegram\",\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"user_name\": \"{{ $json.user_name }}\",\n  \"transcript\": \"{{ $json.user_message }}\",\n  \"response_text\": \"{{ $json.response_text }}\",\n  \"model_used\": \"{{ $json.model_used }}\",\n  \"status\": \"completed\",\n  \"metadata\": { \"is_voice\": {{ $json.is_voice }}, \"sources\": {{ JSON.stringify($json.sources) }} }\n}",
        "options": {}
      },
      "id": "log-to-supabase",
      "name": "Log to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2300, 300],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Route by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Type": {
      "main": [
        [
          {
            "node": "Get Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Whisper Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper Transcribe": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Hi-RAG Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hi-RAG Query": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          {
            "node": "Generate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Response": {
      "main": [
        [
          {
            "node": "Extract Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response": {
      "main": [
        [
          {
            "node": "Send Text Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Text Response": {
      "main": [
        [
          {
            "node": "Log to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "pmoves-voice-agent"
  },
  "tags": [
    {
      "name": "voice-agent"
    },
    {
      "name": "telegram"
    }
  ]
}
