pmoves/n8n-workflows/voice-platform-router.json
{
  "name": "Voice Platform Router - PMOVES",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice-agent/ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "webhookId": "voice-platform-router"
    },
    {
      "parameters": {
        "jsCode": "// Unified platform normalizer\n// Input: raw webhook payload from any platform\n// Output: normalized voice message object\n\nconst items = $input.all();\nconst payload = items[0].json;\n\nlet normalized = {\n  platform: null,\n  user_id: null,\n  user_name: null,\n  channel_id: null,\n  message_id: null,\n  message_type: 'text', // 'text' | 'voice'\n  content: null,\n  audio_url: null,\n  timestamp: new Date().toISOString(),\n  raw_payload: payload\n};\n\n// Detect platform and normalize\nif (payload.platform) {\n  // Already normalized (direct API call)\n  normalized = { ...normalized, ...payload };\n} else if (payload.message?.chat?.id && payload.message?.from?.id) {\n  // Telegram format\n  normalized.platform = 'telegram';\n  normalized.user_id = String(payload.message.from.id);\n  normalized.user_name = payload.message.from.first_name || payload.message.from.username;\n  normalized.channel_id = String(payload.message.chat.id);\n  normalized.message_id = String(payload.message.message_id);\n  \n  if (payload.message.voice) {\n    normalized.message_type = 'voice';\n    normalized.audio_url = payload.message.voice.file_id; // Needs Telegram API to resolve\n  } else if (payload.message.text) {\n    normalized.message_type = 'text';\n    normalized.content = payload.message.text;\n  }\n} else if (payload.messages?.[0]?.from) {\n  // WhatsApp format\n  normalized.platform = 'whatsapp';\n  normalized.user_id = payload.messages[0].from;\n  normalized.user_name = payload.contacts?.[0]?.profile?.name || 'WhatsApp User';\n  normalized.channel_id = payload.metadata?.phone_number_id;\n  normalized.message_id = payload.messages[0].id;\n  \n  if (payload.messages[0].type === 'audio') {\n    normalized.message_type = 'voice';\n    normalized.audio_url = payload.messages[0].audio?.id; // Needs WhatsApp API to resolve\n  } else if (payload.messages[0].type === 'text') {\n    normalized.message_type = 'text';\n    normalized.content = payload.messages[0].text?.body;\n  }\n} else if (payload.author?.id && payload.channelId) {\n  // Discord format\n  normalized.platform = 'discord';\n  normalized.user_id = payload.author.id;\n  normalized.user_name = payload.author.username;\n  normalized.channel_id = payload.channelId;\n  normalized.message_id = payload.id;\n  \n  if (payload.attachments?.length > 0 && payload.attachments[0].contentType?.startsWith('audio/')) {\n    normalized.message_type = 'voice';\n    normalized.audio_url = payload.attachments[0].url;\n  } else if (payload.content) {\n    normalized.message_type = 'text';\n    normalized.content = payload.content;\n  }\n}\n\n// Validate required fields\nif (!normalized.platform || !normalized.user_id) {\n  throw new Error('Unable to detect platform or extract user_id from payload');\n}\n\nreturn [{ json: normalized }];"
      },
      "id": "normalize-platform",
      "name": "Normalize Platform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "id": "route-message-type",
      "name": "Route by Message Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [500, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "telegram"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "discord",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "discord"
            }
          ]
        },
        "options": {}
      },
      "id": "route-platform-audio",
      "name": "Route Platform (Audio)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [700, 200]
    },
    {
      "parameters": {
        "operation": "getFile",
        "fileId": "={{ $json.audio_url }}"
      },
      "id": "telegram-get-file",
      "name": "Telegram Get File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 100],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-cred",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/file/bot{{ $credentials.telegramApi.accessToken }}/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "telegram-download",
      "name": "Telegram Download",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 100]
    },
    {
      "parameters": {
        "operation": "mediaUrlGet",
        "mediaId": "={{ $json.audio_url }}"
      },
      "id": "whatsapp-get-media",
      "name": "WhatsApp Get Media",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [900, 200],
      "credentials": {
        "whatsAppBusinessCloudApi": {
          "id": "whatsapp-cred",
          "name": "WhatsApp Business"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "whatsapp-download",
      "name": "WhatsApp Download",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whatsapp-auth",
          "name": "WhatsApp Token"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.audio_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "discord-download",
      "name": "Discord Download",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://tensorzero-gateway:3030/v1/audio/transcriptions",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-1"
            }
          ]
        },
        "options": {}
      },
      "id": "whisper-transcribe",
      "name": "Whisper Transcribe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 200],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Merge transcription with original normalized data\nconst items = $input.all();\nconst transcription = items[0].json;\nconst normalizedData = $('Normalize Platform').first().json;\n\nreturn [{\n  json: {\n    ...normalizedData,\n    content: transcription.text || '',\n    transcription_language: transcription.language,\n    message_type: 'voice' // Confirm it was voice\n  }\n}];"
      },
      "id": "merge-transcription",
      "name": "Merge Transcription",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 250]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://hi-rag-gateway-v2-cpu:8086/hirag/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.content }}\",\n  \"top_k\": 3,\n  \"rerank\": true\n}",
        "options": {}
      },
      "id": "hirag-query",
      "name": "Hi-RAG Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1700, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Build context from Hi-RAG results\nconst items = $input.all();\nconst hiragResult = items[0].json;\n\n// Get normalized data from earlier in the flow\nlet prevData;\ntry {\n  prevData = $('Merge Transcription').first().json;\n} catch {\n  prevData = $('Normalize Platform').first().json;\n}\n\nlet context = '';\nlet sources = [];\n\nif (hiragResult.results && hiragResult.results.length > 0) {\n  context = '\\n\\nRelevant context from knowledge base:\\n';\n  hiragResult.results.forEach((r, i) => {\n    context += `[${i+1}] ${r.content?.substring(0, 500) || r.text?.substring(0, 500) || ''}\\n`;\n    sources.push(r.source || r.id || `source-${i}`);\n  });\n}\n\nreturn [{\n  json: {\n    ...prevData,\n    context: context,\n    sources: sources\n  }\n}];"
      },
      "id": "build-context",
      "name": "Build Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://tensorzero-gateway:3030/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-5\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a helpful voice assistant for PMOVES.AI. Keep responses concise and conversational, suitable for voice output. Aim for 1-3 sentences unless more detail is specifically requested.{{ $json.context }}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.content }}\"\n    }\n  ],\n  \"max_tokens\": 500\n}",
        "options": {}
      },
      "id": "llm-response",
      "name": "Generate Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2100, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract response and prepare for platform routing\nconst items = $input.all();\nconst llmResult = items[0].json;\nconst prevData = $('Build Context').first().json;\n\nconst responseText = llmResult.choices?.[0]?.message?.content || 'Sorry, I could not generate a response.';\n\nreturn [{\n  json: {\n    ...prevData,\n    response_text: responseText,\n    model_used: llmResult.model || 'claude-sonnet-4-5'\n  }\n}];"
      },
      "id": "extract-response",
      "name": "Extract Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2300, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "telegram"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "discord",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "discord"
            }
          ]
        },
        "options": {}
      },
      "id": "route-platform-response",
      "name": "Route Platform (Response)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [2500, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $json.channel_id }}",
        "text": "={{ $json.response_text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "send-telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2700, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-cred",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "phoneNumberId": "={{ $json.channel_id }}",
        "recipientPhoneNumber": "={{ $json.user_id }}",
        "textBody": "={{ $json.response_text }}"
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [2700, 300],
      "credentials": {
        "whatsAppBusinessCloudApi": {
          "id": "whatsapp-cred",
          "name": "WhatsApp Business"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "channelId": "={{ $json.channel_id }}",
        "content": "={{ $json.response_text }}",
        "options": {
          "replyToMessage": "={{ $json.message_id }}"
        }
      },
      "id": "send-discord",
      "name": "Send Discord",
      "type": "n8n-nodes-discord-bot.discord",
      "typeVersion": 1,
      "position": [2700, 400],
      "credentials": {
        "discordBotApi": {
          "id": "discord-bot-cred",
          "name": "Discord Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/voice_messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"platform\": \"{{ $json.platform }}\",\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"user_name\": \"{{ $json.user_name }}\",\n  \"transcript\": \"{{ $json.content }}\",\n  \"response_text\": \"{{ $json.response_text }}\",\n  \"model_used\": \"{{ $json.model_used }}\",\n  \"status\": \"completed\",\n  \"metadata\": { \"message_type\": \"{{ $json.message_type }}\", \"sources\": {{ JSON.stringify($json.sources || []) }} }\n}",
        "options": {}
      },
      "id": "log-to-supabase",
      "name": "Log to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2900, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://nats:4222/publish",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subject\": \"voice.agent.response.v1\",\n  \"data\": {\n    \"platform\": \"{{ $json.platform }}\",\n    \"user_id\": \"{{ $json.user_id }}\",\n    \"message_id\": \"{{ $json.message_id }}\",\n    \"response_text\": \"{{ $json.response_text }}\",\n    \"model_used\": \"{{ $json.model_used }}\",\n    \"timestamp\": \"{{ $json.timestamp }}\"\n  }\n}",
        "options": {}
      },
      "id": "publish-nats",
      "name": "Publish NATS Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3100, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"platform\": \"{{ $json.platform }}\",\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"response_sent\": true\n}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3300, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Platform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Platform": {
      "main": [
        [
          {
            "node": "Route by Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Message Type": {
      "main": [
        [
          {
            "node": "Route Platform (Audio)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hi-RAG Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Platform (Audio)": {
      "main": [
        [
          {
            "node": "Telegram Get File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Get Media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Get File": {
      "main": [
        [
          {
            "node": "Telegram Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Download": {
      "main": [
        [
          {
            "node": "Whisper Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Get Media": {
      "main": [
        [
          {
            "node": "WhatsApp Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Download": {
      "main": [
        [
          {
            "node": "Whisper Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Download": {
      "main": [
        [
          {
            "node": "Whisper Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper Transcribe": {
      "main": [
        [
          {
            "node": "Merge Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Transcription": {
      "main": [
        [
          {
            "node": "Hi-RAG Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hi-RAG Query": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          {
            "node": "Generate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Response": {
      "main": [
        [
          {
            "node": "Extract Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response": {
      "main": [
        [
          {
            "node": "Route Platform (Response)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Platform (Response)": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram": {
      "main": [
        [
          {
            "node": "Log to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp": {
      "main": [
        [
          {
            "node": "Log to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Discord": {
      "main": [
        [
          {
            "node": "Log to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Supabase": {
      "main": [
        [
          {
            "node": "Publish NATS Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish NATS Event": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "pmoves-voice-agent"
  },
  "tags": [
    {
      "name": "voice-agent"
    },
    {
      "name": "router"
    },
    {
      "name": "unified"
    }
  ]
}
