pmoves/n8n-workflows/voice-shared-functions.json
{
  "name": "Voice Shared Functions - PMOVES",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice/transcribe",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "transcribe-webhook",
      "name": "Transcribe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 100],
      "webhookId": "voice-transcribe"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://tensorzero-gateway:3030/v1/audio/transcriptions",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-1"
            }
          ]
        },
        "options": {}
      },
      "id": "whisper-stt",
      "name": "Whisper STT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 100],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "transcribe-response",
      "name": "Transcribe Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [500, 100]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice/tts",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "tts-webhook",
      "name": "TTS Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "webhookId": "voice-tts"
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.provider || 'elevenlabs' }}",
                    "rightValue": "elevenlabs",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "elevenlabs"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.provider }}",
                    "rightValue": "openai",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "openai"
            }
          ]
        },
        "options": {}
      },
      "id": "tts-router",
      "name": "TTS Provider Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [300, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/{{ $json.voice_id || '21m00Tcm4TlvDq8ikWAM' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.text }}\",\n  \"model_id\": \"{{ $json.model_id || 'eleven_monolingual_v1' }}\",\n  \"voice_settings\": {\n    \"stability\": {{ $json.stability || 0.5 }},\n    \"similarity_boost\": {{ $json.similarity_boost || 0.75 }}\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "elevenlabs-tts",
      "name": "ElevenLabs TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 250],
      "credentials": {
        "httpHeaderAuth": {
          "id": "elevenlabs-auth",
          "name": "ElevenLabs API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://tensorzero-gateway:3030/v1/audio/speech",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $json.model || 'tts-1' }}\",\n  \"input\": \"{{ $json.text }}\",\n  \"voice\": \"{{ $json.voice || 'alloy' }}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "openai-tts",
      "name": "OpenAI TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 350]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseBinaryPropertyName": "data",
        "options": {}
      },
      "id": "tts-response",
      "name": "TTS Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice/rag",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "rag-webhook",
      "name": "RAG Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 500],
      "webhookId": "voice-rag"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://hi-rag-gateway-v2-cpu:8086/hirag/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.query }}\",\n  \"top_k\": {{ $json.top_k || 5 }},\n  \"rerank\": {{ $json.rerank !== false }}\n}",
        "options": {}
      },
      "id": "hirag-query",
      "name": "Hi-RAG Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Format Hi-RAG results for voice assistant context\nconst items = $input.all();\nconst hiragResult = items[0].json;\n\nlet context = '';\nlet sources = [];\n\nif (hiragResult.results && hiragResult.results.length > 0) {\n  context = 'Relevant context from knowledge base:\\n';\n  hiragResult.results.forEach((r, i) => {\n    const content = r.content?.substring(0, 500) || r.text?.substring(0, 500) || '';\n    context += `[${i+1}] ${content}\\n`;\n    sources.push({\n      id: r.id || `source-${i}`,\n      source: r.source || 'unknown',\n      score: r.score || 0\n    });\n  });\n}\n\nreturn [{\n  json: {\n    context: context,\n    sources: sources,\n    result_count: hiragResult.results?.length || 0,\n    raw_results: hiragResult\n  }\n}];"
      },
      "id": "format-rag",
      "name": "Format RAG Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "rag-response",
      "name": "RAG Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 500]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice/llm",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "llm-webhook",
      "name": "LLM Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 700],
      "webhookId": "voice-llm"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://tensorzero-gateway:3030/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $json.model || 'claude-sonnet-4-5' }}\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"{{ $json.system_prompt || 'You are a helpful voice assistant for PMOVES.AI. Keep responses concise and conversational, suitable for voice output. Aim for 1-3 sentences unless more detail is specifically requested.' }}{{ $json.context || '' }}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.user_message }}\"\n    }\n  ],\n  \"max_tokens\": {{ $json.max_tokens || 500 }}\n}",
        "options": {}
      },
      "id": "llm-call",
      "name": "LLM Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 700]
    },
    {
      "parameters": {
        "jsCode": "// Extract and format LLM response\nconst items = $input.all();\nconst llmResult = items[0].json;\n\nconst responseText = llmResult.choices?.[0]?.message?.content || 'Sorry, I could not generate a response.';\n\nreturn [{\n  json: {\n    response_text: responseText,\n    model_used: llmResult.model || 'unknown',\n    usage: llmResult.usage || {},\n    finish_reason: llmResult.choices?.[0]?.finish_reason || 'unknown'\n  }\n}];"
      },
      "id": "extract-llm",
      "name": "Extract LLM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 700]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "llm-response",
      "name": "LLM Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 700]
    }
  ],
  "connections": {
    "Transcribe Webhook": {
      "main": [
        [
          {
            "node": "Whisper STT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper STT": {
      "main": [
        [
          {
            "node": "Transcribe Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS Webhook": {
      "main": [
        [
          {
            "node": "TTS Provider Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS Provider Router": {
      "main": [
        [
          {
            "node": "ElevenLabs TTS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabs TTS": {
      "main": [
        [
          {
            "node": "TTS Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI TTS": {
      "main": [
        [
          {
            "node": "TTS Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Webhook": {
      "main": [
        [
          {
            "node": "Hi-RAG Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hi-RAG Query": {
      "main": [
        [
          {
            "node": "Format RAG Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format RAG Results": {
      "main": [
        [
          {
            "node": "RAG Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Webhook": {
      "main": [
        [
          {
            "node": "LLM Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Call": {
      "main": [
        [
          {
            "node": "Extract LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract LLM Response": {
      "main": [
        [
          {
            "node": "LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "pmoves-voice-agent"
  },
  "tags": [
    {
      "name": "voice-agent"
    },
    {
      "name": "shared"
    },
    {
      "name": "functions"
    }
  ]
}
